<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="format-detection" content="telephone=no">
    <title>New KB스타뱅킹</title>
    <link rel="stylesheet" href="../assets/css/components.css">
    <link rel="stylesheet" href="../assets/vendor/highlight/github-gist.css">
    
    <!-- resource -->
	<link rel="stylesheet" href="../../app/css/common.css">
	<link rel="stylesheet" href="../../app/css/common_mix.css">
    <link rel="stylesheet" href="../assets/css/guide_common.css">
    <style>
        .btn_ico_34 {width:34px; height:34px; border:1px red dashed;}
        a.btn_ico_34 {text-align:center; line-height:3.4rem;}
        div.del {text-decoration:line-through;}
        div.strong {color:red;}
        span.badge[class *= rank] + span.badge[class *= rank] {margin-left:1rem;}
        span.md.badge[class *= rank] + span.md.badge[class *= rank] {margin-left:1rem;}
    </style>
</head>
<body>
    <div data-class="contents">
        <div data-class="component-name">아이콘</div>

        <div data-class="section">
            <div data-class="box"> 
                <div data-class="list number">
                    <div>아이콘은 크기별로 정의한다.</div>
                    <div>둥근 모양의 아이콘일 경우 .r 을 사용해 radius를 별도 적용할 수 있다.</div>
                </div>
            </div>
            <div data-class="box">
                <div data-class="list disc">
                    <div>입금/출금 금액, 수익률, 금액의 증감 표기 - 컬러 or 증감 아이콘으로 표현</div>                
                    <div>평가금액 표기 - 블랙 + bold + 크기 로 표현</div>
                </div>
            </div>

            <div data-class="h1">크기</div>
            <div data-class="h2">20x20</div>
            <script type="text/html" data-ico="" data-sprite="/mnbank/app/img/common/spr_ico_20x.png" data-img-width="250">
<i class="ico_20_arrow_g"></i>
<i class="ico_20_arrow_blue"></i>
<i class="ico_20_arrow_red"></i>
<i class="ico_20_arrow"></i>
<i class="ico_20_plus"></i>
<i class="ico_20_pencil"></i>
<i class="ico_20_x"></i>
<i class="ico_20_exclam_r"></i>
<i class="ico_20_check_b"></i>
<i class="ico_20_question"></i>
<i class="ico_20_copy"></i>
<i class="ico_20_magnifier"></i>
<i class="ico_20_magnifier_g"></i>
<i class="ico_20_graph"></i>
<i class="ico_20_headset"></i>
<i class="ico_20_arrowup_g"></i>
<i class="ico_20_arrowup"></i>
<i class="ico_20_arrowdown_g"></i>
<i class="ico_20_arrowdown"></i>
<i class="ico_20_first"></i>
<i class="ico_20_prev"></i>
<i class="ico_20_next"></i>
<i class="ico_20_last"></i>
<i class="ico_20_calfirst"></i>
<i class="ico_20_calfirst_g"></i>
<i class="ico_20_calprev"></i>
<i class="ico_20_calprev_g"></i>
<i class="ico_20_calnext"></i>
<i class="ico_20_calnext_g"></i>
<i class="ico_20_calend"></i>
<i class="ico_20_calend_g"></i>
<i class="ico_20_exclam_g"></i>
<i class="ico_20_pdf"></i>
<i class="ico_20_arr"></i>
<i class="ico_20_arrdown"></i>
<i class="ico_20_reset"></i>
<i class="ico_20_setting"></i>
<i class="ico_20_circle_del"></i>
<i class="ico_20_risk"></i>
<i class="ico_20_like"></i>
<i class="ico_20_like on"></i>
<i class="ico_20_notice"></i>
            </script>

            <div data-class="p">20x20 아이콘을 단독 버튼으로 사용시</div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_20x.png" data-img-width="250">
<button class="btn_ico_34"><i class="ico_20_plus"></i></button>
<button class="btn_ico_34"><i class="ico_20_x"></i></button>
<button class="btn_ico_34"><i class="ico_20_exclam_r"></i></button>
<button class="btn_ico_34"><i class="ico_20_question"></i></button>
<button class="btn_ico_34"><i class="ico_20_magnifier"></i></button>
<button class="btn_ico_34"><i class="ico_20_pdf"></i></button>
<button class="btn_ico_34"><i class="ico_20_setting"></i><span class="hidden">편집</span></button>
<button class="btn_ico_34"><i class="ico_20_circle_del"></i><span class="hidden">삭제</span></button>
            </script>

            <div data-class="h2">24x24</div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_24x.png" data-img-width="250">
<i class="ico_24_arrowback"></i>
<i class="ico_24_menu"></i>
<i class="ico_24_x"></i>
<i class="ico_24_x_g"></i>
<i class="ico_24_arrowbacktail"></i>
<i class="ico_24_magnifier_g"></i>
<i class="ico_24_magnifire_b"></i>
<i class="ico_24_magnifire_lg"></i>
<i class="ico_24_star"></i>

<i class="ico_24_star active"></i>
<i class="ico_24_move"></i>
<i class="ico_24_x_w"></i>
<i class="ico_24_arrowdown"></i>
<i class="ico_24 graph"></i>
<i class="ico_24_graph_y"></i>
<i class="ico_24_notice"></i>
<i class="ico_24_calendar"></i>
<i class="ico_24_ordering"></i>
<i class="ico_24_delete"></i>
<i class="ico_24_question"></i>
            </script>

            <div data-class="p">24x24 아이콘 버튼 사용 예시</div>
            <div data-class="box"> 
                용도에 맞는 적절한 버튼 크기는 button 의 class=btn_ 에서 정의한다.
            </div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_24x.png" data-img-width="250">
<button type="button" class="btn_ico_34"><i class="ico_24_arrowback"></i><span class="hidden">이전</span></button>
<button type="button" class="btn_ico_34"><i class="ico_24_menu"></i><span class="hidden">메뉴</span></button>
<button type="button" class="btn_ico_34"><i class="ico_24_star"></i><span class="hidden">즐겨찾기</span></button>
            </script>

<!--             <div data-class="h2">32x32</div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_32x.png" data-img-width="250">
<i class="ico_32_tell"></i>
            </script> -->

            <div data-class="h2">40x40</div>
            <script type="text/html">
<i class="ico_40_flash"></i>
<i class="ico_40_star"></i>
<i class="ico_40_share"></i>
<i class="ico_40_favorite"></i>
<i class="ico_40_favorite active"></i>
<i class="ico_40_mic_n"></i>
<i class="ico_40_cart_g"></i>
<i class="ico_40_cart_y"></i>
<i class="ico_40_tell"></i>
<i class="ico_40_addr_book"></i>
            </script>

            <div data-class="box">
                <div data-class="p">버튼 예제 : 대체텍스트 제공 </div>
            </div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_40x.png" data-img-width="250">
<button type="button"><i class="ico_40_share"></i><span class="hidden">대체텍스트</span></button>
<button type="button"><i class="ico_40_addr_book"></i><span class="hidden">대체텍스트</span></button>
            </script>
            
<!--             <div data-class="h2">48x48</div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_48x.png" data-img-width="250">
<i class="ico_48_square_stroke"></i>
            </script> -->

            <div data-class="h2">60x60</div>
            <script type="text/html" data-sprite="/mnbank/app/img/common/spr_ico_60x.png" data-img-width="300">
<i class="ico_60_exclam_g"></i>
<i class="ico_60_check_y"></i>
<i class="ico_60_exclam_r"></i>
            </script>
        </div>

    <div data-class="section">
        <div data-class="h1">등급</div>
        <div data-class="h2">고객등급</div>
        <div data-class="p">기본</div>
        <script type="text/html">
<span class="badge rank1 inline">MVP스타</span>
<span class="badge rank2 inline">로얄스타</span>
<span class="badge rank3 inline">골드스타</span>
<span class="badge rank4 inline">프리미엄스타</span>
<span class="badge rank5 inline">일반고객</span>
<span class="badge rank0 inline">거래없음</span>
<br><br>
<span class="badge rank1">MVP스타</span>
<span class="badge rank2">로얄스타</span>
<span class="badge rank3">골드스타</span>
<span class="badge rank4">프리미엄스타</span>
<span class="badge rank5">일반고객</span>
<span class="badge rank0">거래없음</span>
<br><br>
<p class="badge rank1 inline">MVP스타</p>
<p class="badge rank2 inline">로얄스타</p>
<p class="badge rank3 inline">골드스타</p>
<p class="badge rank4 inline">프리미엄스타</p>
<p class="badge rank5 inline">일반고객</p>
<p class="badge rank0 inline">거래없음</p>
        </script>

        <script type="text/html">
<span class="badge rank1 inline md">MVP스타</span>
<span class="badge rank2 inline md">로얄스타</span>
<span class="badge rank3 inline md">골드스타</span>
<span class="badge rank4 inline md">프리미엄스타</span>
<span class="badge rank5 inline md">일반고객</span>
<span class="badge rank0 inline md">거래없음</span>
<br><br>
<span class="badge rank1 md">MVP스타</span>
<span class="badge rank2 md">로얄스타</span>
<span class="badge rank3 md">골드스타</span>
<span class="badge rank4 md">프리미엄스타</span>
<span class="badge rank5 md">일반고객</span>
<span class="badge rank0 md">거래없음</span>
<br><br>
<p class="badge rank1 inline md">MVP스타</p>
<p class="badge rank2 inline md">로얄스타</p>
<p class="badge rank3 inline md">골드스타</p>
<p class="badge rank4 inline md">프리미엄스타</p>
<p class="badge rank5 inline md">일반고객</p>
<p class="badge rank0 inline md">거래없음</p>
        </script>

        <script type="text/html">
<span class="badge rank1 inline mlg">MVP스타</span>
<span class="badge rank2 inline mlg">로얄스타</span>
<span class="badge rank3 inline mlg">골드스타</span>
<span class="badge rank4 inline mlg">프리미엄스타</span>
<span class="badge rank5 inline mlg">일반고객</span>
<span class="badge rank0 inline mlg">거래없음</span>
<br><br>
<span class="badge rank1 mlg">MVP스타</span>
<span class="badge rank2 mlg">로얄스타</span>
<span class="badge rank3 mlg">골드스타</span>
<span class="badge rank4 mlg">프리미엄스타</span>
<span class="badge rank5 mlg">일반고객</span>
<span class="badge rank0 mlg">거래없음</span>
<br><br>
<p class="badge rank1 inline mlg">MVP스타</p>
<p class="badge rank2 inline mlg">로얄스타</p>
<p class="badge rank3 inline mlg">골드스타</p>
<p class="badge rank4 inline mlg">프리미엄스타</p>
<p class="badge rank5 inline mlg">일반고객</p>
<p class="badge rank0 inline mlg">거래없음</p>
        </script>

        <script type="text/html">
<span class="badge rank1 inline lg">MVP스타</span>
<span class="badge rank2 inline lg">로얄스타</span>
<span class="badge rank3 inline lg">골드스타</span>
<span class="badge rank4 inline lg">프리미엄스타</span>
<span class="badge rank5 inline lg">일반고객</span>
<span class="badge rank0 inline lg">거래없음</span>
<br><br>
<span class="badge rank1 lg">MVP스타</span>
<span class="badge rank2 lg">로얄스타</span>
<span class="badge rank3 lg">골드스타</span>
<span class="badge rank4 lg">프리미엄스타</span>
<span class="badge rank5 lg">일반고객</span>
<span class="badge rank0 lg">거래없음</span>
<br><br>
<p class="badge rank1 inline lg">MVP스타</p>
<p class="badge rank2 inline lg">로얄스타</p>
<p class="badge rank3 inline lg">골드스타</p>
<p class="badge rank4 inline lg">프리미엄스타</p>
<p class="badge rank5 inline lg">일반고객</p>
<p class="badge rank0 inline lg">거래없음</p>
        </script>

        <div data-class="h2">위험등급 상품유형</div>
        <div data-class="p">기본</div>
        <script type="text/html">
<span class="ico_remark highest"><span class="txt">매우높은위험</span></span>
<span class="ico_remark higher"><span class="txt">높은위험</span></span>
<span class="ico_remark high"><span class="txt">다소높은위험</span></span>
<span class="ico_remark middle"><span class="txt">보통위험</span></span>
<span class="ico_remark low"><span class="txt">낮은위험</span></span>
<span class="ico_remark lower"><span class="txt">매우낮은위험</span></span>

<br><br>

<span class="ico_remark highest"><span class="hidden">매우높은위험</span></span>
<span class="ico_remark higher"><span class="hidden">높은위험</span></span>
<span class="ico_remark high"><span class="hidden">다소높은위험</span></span>
<span class="ico_remark middle"><span class="hidden">보통위험</span></span>
<span class="ico_remark low"><span class="hidden">낮은위험</span></span>
<span class="ico_remark lower"><span class="hidden">매우낮은위험</span></span>
        </script>

        <div data-class="p">리스트로 사용 시</div>
        <script type="text/html">
<ul class="list_remark">
    <li><span class="ico_remark highest"><span class="txt">매우높은위험</span></span></li>
    <li><span class="ico_remark higher"><span class="txt">높은위험</span></span></li>
    <li><span class="ico_remark high"><span class="txt">다소높은위험</span></span></li>
    <li><span class="ico_remark middle"><span class="txt">보통위험</span></span></li>
    <li><span class="ico_remark low"><span class="txt">낮은위험</span></span></li>
    <li><span class="ico_remark lower"><span class="txt">매우낮은위험</span></span></li>
</ul>                
        </script>

        <div data-class="h2">제로인등급(펀드)</div>
        <div data-class="box">제로인에서 매긴 펀드의 등급. 등급은 총 6개 등급으로 1~5등급, 무등급 으로 나뉜다.</div>
        <script type="text/html">
<span class="zeroin_rate1"><span class="hidden">1등급</span></span>
<span class="zeroin_rate2"><span class="hidden">2등급</span></span>
<span class="zeroin_rate3"><span class="hidden">3등급</span></span>
<span class="zeroin_rate4"><span class="hidden">4등급</span></span>
<span class="zeroin_rate5"><span class="hidden">5등급</span></span>
<span class="zeroin_rate9"><span class="hidden">무등급</span></span>
        </script>

        <div data-class="h2">평가기준(펀드)</div>
        <script type="text/html">
<span class="ico_wm_rate1"><span class="hidden">좋음</span></span>
<span class="ico_wm_rate2"><span class="hidden">보통</span></span>
<span class="ico_wm_rate3"><span class="hidden">나쁨</span></span>
        </script>
    </div>

    <div data-class="section">
        <div data-class="h1">은행CI</div>
        <div data-class="h2">기본</div>
        <div data-class="p">은행</div>
        <script type="text/html">
<span class="icon_bank_002"></span> <!-- 산업 -->
<span class="icon_bank_003"></span> <!-- 기업 -->
<span class="icon_bank_004"></span> <!-- 국민 -->
<span class="icon_bank_007"></span> <!-- 수협 -->
<span class="icon_bank_011"></span> <!--  농협-->
<span class="icon_bank_020"></span> <!-- 우리 -->
<span class="icon_bank_023"></span> <!-- SC(스탠다드차티드) -->
<span class="icon_bank_027"></span> <!-- 한국씨티(구한미) -->
<span class="icon_bank_031"></span> <!-- 대구 -->
<span class="icon_bank_032"></span> <!-- 부산 -->
<span class="icon_bank_034"></span> <!-- 광주 -->
<span class="icon_bank_035"></span> <!-- 제주 -->
<span class="icon_bank_037"></span> <!-- 전북 -->
<span class="icon_bank_039"></span> <!-- 경남 -->
<span class="icon_bank_081"></span> <!-- KEB하나(구외환포함) -->
<span class="icon_bank_088"></span> <!-- 신한(구조흥포함) -->
<span class="icon_bank_089"></span> <!-- 케이뱅크 -->
<span class="icon_bank_090"></span> <!-- 카카오뱅크 -->
<span class="icon_bank_092"></span> <!-- 토스뱅크 -->

<span class="icon_bank_054"></span> <!-- 홍콩상하이(HSBC) -->
<span class="icon_bank_055"></span> <!-- 도이치 -->
<span class="icon_bank_057"></span> <!-- 제이피모간체이스 -->
<span class="icon_bank_060"></span> <!-- 뱅크오브아메리카 -->
<span class="icon_bank_061"></span> <!-- 비엔피파리바 -->
<span class="icon_bank_062"></span> <!-- 중국공상 -->
<span class="icon_bank_063"></span> <!-- 중국은행 -->
<span class="icon_bank_067"></span> <!-- 중국건설은행 -->
<br>
<span class="icon_bank_301"></span> <!-- 국세,지방세 -->
<span class="icon_bank_302"></span> <!-- 국세,지방세 -->
        </script>
        <div data-class="p">상호금융기관</div>
        <script type="text/html">
<span class="icon_bank_012"></span>  <!-- 농협중앙회 -->
<span class="icon_bank_045"></span> <!-- 새마을금고 -->
<span class="icon_bank_048"></span> <!-- 신용협동조합 -->
<span class="icon_bank_050"></span> <!-- 상호저축은행중앙회 -->
<span class="icon_bank_064"></span> <!-- 산림조합 -->
<span class="icon_bank_065"></span> <!-- KB저축은행 -->
<span class="icon_bank_071"></span> <!-- 우체국 -->
        </script>
        <div data-class="p">금융투자회사</div>
        <script type="text/html">
<span class="icon_bank_218"></span>  <!-- KB증권 -->
<span class="icon_bank_227"></span>  <!-- KTB투자증권 -->
<span class="icon_bank_238"></span>  <!-- 미래에셋 -->
<span class="icon_bank_240"></span>  <!-- 삼성 -->
<span class="icon_bank_243"></span>  <!-- 한국투자 -->
<span class="icon_bank_247"></span>  <!-- NH투자 -->
<span class="icon_bank_261"></span>  <!-- 교보 -->
<span class="icon_bank_262"></span>  <!-- 하이투자 -->
<span class="icon_bank_263"></span>  <!-- 현대차증권 -->
<span class="icon_bank_264"></span>  <!-- 키움 -->
<span class="icon_bank_265"></span>  <!-- 이베스트투자 -->
<span class="icon_bank_266"></span>  <!-- SK증권 -->
<span class="icon_bank_267"></span>  <!-- 대신증권 -->
<span class="icon_bank_269"></span>  <!-- 한화투자 -->
<span class="icon_bank_270"></span>  <!-- 하나금융투자 -->
<span class="icon_bank_271"></span>  <!-- 토스증권 -->
<span class="icon_bank_278"></span>  <!-- 신한금융투자 -->
<span class="icon_bank_279"></span>  <!-- DB금융투자 -->
<span class="icon_bank_280"></span>  <!-- 유진투자 -->
<span class="icon_bank_287"></span>  <!-- 메리츠증권 -->

<span class="icon_bank_209"></span> <!-- 유안타 -->
<span class="icon_bank_224"></span> <!-- BNK투자증권 -->
<span class="icon_bank_225"></span> <!-- IBK투자증권 -->
<span class="icon_bank_288"></span> <!-- 카카오페이증권 -->
<span class="icon_bank_290"></span> <!-- 부국증권 -->
<span class="icon_bank_291"></span> <!-- 신영 -->
<span class="icon_bank_292"></span> <!-- 케이프 -->
<span class="icon_bank_294"></span> <!-- 한국포스 -->
        </script>
        <div data-class="p">카드사</div>
        <script type="text/html">
<span class="icon_bank_041 "></span> <!-- 우리카드 -->
<span class="icon_bank_361"></span> <!-- BC카드 -->
<span class="icon_bank_365"></span> <!-- 삼성카드 -->
<span class="icon_bank_366"></span> <!-- 신한카드 -->
<span class="icon_bank_367"></span> <!-- 현대카드 -->
<span class="icon_bank_368"></span> <!-- 롯데카드 -->
<span class="icon_bank_374"></span> <!-- 하나카드 -->
<span class="icon_bank_381"></span> <!-- KB국민카드 -->
        </script>
        <div data-class="p">핀테크사</div>
        <script type="text/html">
<span class="icon_bank_f06"></span>  <!-- 비바리퍼블리카 -->
<span class="icon_bank_f09"></span>  <!-- 카카오 -->
<span class="icon_bank_f16"></span>  <!-- 네이버페이 -->
<span class="icon_bank_f11"></span>  <!-- 뱅크샐러드 -->
<span class="icon_bank_f15"></span>  <!-- 쿠팡페이 -->
<span class="icon_bank_f07"></span>  <!-- 핀크 -->
<span class="icon_bank_f14"></span>  <!-- 코아아이 -->
<span class="icon_bank_f10"></span>  <!-- 세트뱅크 -->
<span class="icon_bank_f03"></span>  <!-- 글로벌머니익스프레스 -->
<span class="icon_bank_f21"></span>  <!-- 케이에스넷 -->
<span class="icon_bank_f20"></span>  <!-- 십일번가 -->
<span class="icon_bank_f25"></span>  <!-- 나이스정보 -->
<span class="icon_bank_f28"></span>  <!-- 다날 -->
<span class="icon_bank_f13"></span>  <!-- 갤럭시아머니트리 -->
<span class="icon_bank_f26"></span>  <!-- 이베이 -->
<span class="icon_bank_f17"></span>  <!-- ssg페이 -->
<span class="icon_bank_f23"></span>  <!-- 롯데멤버스 -->
<span class="icon_bank_f24"></span>  <!-- 오케이인베트스먼트파트너스 -->
<span class="icon_bank_f22"></span>  <!-- DGB페이 -->
<span class="icon_bank_f01"></span>  <!-- 지머니 -->
<span class="icon_bank_f05"></span>  <!-- 트래블월렛 -->
<span class="icon_bank_f27"></span>  <!-- 차이코퍼레이션 -->
<span class="icon_bank_f12"></span>  <!-- 쿠콘 -->
<span class="icon_bank_f18"></span>  <!-- 티머니-->
<span class="icon_bank_f19"></span>  <!-- 페이코 -->
<span class="icon_bank_f02"></span>  <!-- 핀샷 -->
<span class="icon_bank_f08"></span>  <!-- 디셈버 -->
<span class="icon_bank_f04"></span>  <!-- 한패스 -->
<span class="icon_bank_f29"></span>  <!-- 웰컴페이먼츠 -->
<span class="icon_bank_f30"></span>  <!-- sk플래닛 -->
<span class="icon_bank_f31"></span>  <!-- 아이씨비 -->
<span class="icon_bank_f32"></span>  <!-- KG이니시스 -->
<span class="icon_bank_f33"></span>  <!-- 한국정보통신 : 코드없음. 임시 -->
<span class="icon_bank_f34"></span>  <!-- 지엘엔인터내셔널 - 띳머니 -->
<span class="icon_bank_f35"></span>  <!-- 와이어바알리 - 와이어바알리 선불충전금 -->
<span class="icon_bank_f36"></span>  <!-- 당근페이 -->
<span class="icon_bank_f38"></span>  <!-- Finddy -->
<span class="icon_bank_f39"></span>  <!-- 비즈플레이 -->

        </script>
        <div data-class="p">자산관리</div>
        <script type="text/html">
<span class="icon_bank_basic md"></span>  <!-- nodata -->
<span class="icon_bank_431 md"></span>  <!-- 미래에셋생명 -->
<span class="icon_bank_432 md"></span>  <!-- 한화생명 -->
<span class="icon_bank_433 md"></span>  <!-- 교보라이프플래닛 -->
<span class="icon_bank_434 md"></span>  <!-- 푸본현대생명 -->
<span class="icon_bank_435 md"></span>  <!-- 라이나생명 -->
<span class="icon_bank_436 md"></span>  <!-- 교보생명 -->
<span class="icon_bank_437 md"></span>  <!-- ABL생명 -->
<span class="icon_bank_438 md"></span>  <!-- 신한생명 -->
<span class="icon_bank_439 md"></span>  <!-- KB생명 -->
<span class="icon_bank_440 md"></span>  <!-- NH농협생명 -->
<span class="icon_bank_441 md"></span>  <!-- 삼성화재 -->
<span class="icon_bank_442 md"></span>  <!-- 현대해상 -->
<span class="icon_bank_443 md"></span>  <!-- DB손해보험 -->
<span class="icon_bank_444 md"></span>  <!-- KB손해보험 -->
<span class="icon_bank_401 md"></span>  <!-- 하나생명보험 -->
<span class="icon_bank_B2AABT0000 md"></span>  <!-- 하나손해보험 -->
<span class="icon_bank_450 md"></span>  <!-- KB라이프생명(푸르덴셜생명) -->
<span class="icon_bank_D3AADZ0000 md"></span>  <!-- KB캐피탈 -->
<span class="icon_bank_D3AAGE0000 md"></span>  <!-- 하나캐피탈 -->
<span class="icon_bank_D3AAHR0000 md"></span>  <!-- JB우리캐피탈 -->
<span class="icon_bank_D3AAMM0000 md"></span>  <!-- 우리금융캐피탈 -->
<span class="icon_bank_H1AAKB0000 md"></span>  <!-- 하나저축은행 -->
<span class="icon_bank_H1AAKR0000 md"></span>  <!-- NH저축은행 -->
<span class="icon_bank_H1AAKT0000 md"></span>  <!-- 신한저축은행 -->
<span class="icon_bank_H1AAMC0000 md"></span>  <!-- KB저축은행 -->
<span class="icon_bank_H1AAMK0000 md"></span>  <!-- 우리금융저축은행 -->
        </script>

        <div data-class="h2">은행CI 20</div>
        <script type="text/html">
<span class="icon_bank_002 xs"></span> <!-- 산업 -->
<span class="icon_bank_003 xs"></span> <!-- 기업 -->
<span class="icon_bank_004 xs"></span> <!-- 국민 -->
<span class="icon_bank_007 xs"></span> <!-- 수협 -->
<span class="icon_bank_011 xs"></span> <!--  농협-->
<span class="icon_bank_020 xs"></span> <!-- 우리 -->
<span class="icon_bank_023 xs"></span> <!-- SC(스탠다드차티드) -->
<span class="icon_bank_027 xs"></span> <!-- 한국씨티(구한미) -->
<span class="icon_bank_031 xs"></span> <!-- 대구 -->
<span class="icon_bank_032 xs"></span> <!-- 부산 -->
<span class="icon_bank_034 xs"></span> <!-- 광주 -->
<span class="icon_bank_035 xs"></span> <!-- 제주 -->
<span class="icon_bank_037 xs"></span> <!-- 전북 -->
<span class="icon_bank_039 xs"></span> <!-- 경남 -->
<span class="icon_bank_081 xs"></span> <!-- KEB하나(구외환포함) -->
<span class="icon_bank_088 xs"></span> <!-- 신한(구조흥포함) -->
<span class="icon_bank_089 xs"></span> <!-- 케이뱅크 -->
<span class="icon_bank_090 xs"></span> <!-- 카카오뱅크 -->
<span class="icon_bank_092 xs"></span> <!-- 토스뱅크 -->
<span class="icon_bank_054 xs"></span> <!-- 홍콩상하이(HSBC) -->
<span class="icon_bank_055 xs"></span> <!-- 도이치 -->
<span class="icon_bank_057 xs"></span> <!-- 제이피모간체이스 -->
<span class="icon_bank_060 xs"></span> <!-- 뱅크오브아메리카 -->
<span class="icon_bank_061 xs"></span> <!-- 비엔피파리바 -->
<span class="icon_bank_062 xs"></span> <!-- 중국공상 -->
<span class="icon_bank_063 xs"></span> <!-- 중국은행 -->
<span class="icon_bank_067 xs"></span> <!-- 중국건설은행 -->
<br><br>
<span class="icon_bank_012 xs"></span>  <!-- 농협중앙회 -->
<span class="icon_bank_045 xs"></span> <!-- 새마을금고 -->
<span class="icon_bank_048 xs"></span> <!-- 신용협동조합 -->
<span class="icon_bank_050 xs"></span> <!-- 상호저축은행중앙회 -->
<span class="icon_bank_064 xs"></span> <!-- 산림조합 -->
<span class="icon_bank_065 xs"></span> <!-- KB저축은행 -->
<span class="icon_bank_071 xs"></span> <!-- 우체국 -->
<br><br>
<span class="icon_bank_218 xs"></span>  <!-- KB증권 -->
<span class="icon_bank_227 xs"></span>  <!-- KTB투자증권 -->
<span class="icon_bank_238 xs"></span>  <!-- 미래에셋 -->
<span class="icon_bank_240 xs"></span>  <!-- 삼성 -->
<span class="icon_bank_243 xs"></span>  <!-- 한국투자 -->
<span class="icon_bank_247 xs"></span>  <!-- NH투자 -->
<span class="icon_bank_261 xs"></span>  <!-- 교보 -->
<span class="icon_bank_262 xs"></span>  <!-- 하이투자 -->
<span class="icon_bank_263 xs"></span>  <!-- 현대차증권 -->
<span class="icon_bank_264 xs"></span>  <!-- 키움 -->
<span class="icon_bank_265 xs"></span>  <!-- 이베스트투자 -->
<span class="icon_bank_266 xs"></span>  <!-- SK증권 -->
<span class="icon_bank_267 xs"></span>  <!-- 대신증권 -->
<span class="icon_bank_269 xs"></span>  <!-- 한화투자 -->
<span class="icon_bank_270 xs"></span>  <!-- 하나금융투자 -->
<span class="icon_bank_271 xs"></span>  <!-- 토스증권 -->
<span class="icon_bank_278 xs"></span>  <!-- 신한금융투자 -->
<span class="icon_bank_279 xs"></span>  <!-- DB금융투자 -->
<span class="icon_bank_280 xs"></span>  <!-- 유진투자 -->
<span class="icon_bank_287 xs"></span>  <!-- 메리츠증권 -->
<span class="icon_bank_209 xs"></span> <!-- 유안타 -->
<span class="icon_bank_224 xs"></span> <!-- BNK투자증권 -->
<span class="icon_bank_225 xs"></span> <!-- IBK투자증권 -->
<span class="icon_bank_288 xs"></span> <!-- 카카오페이증권 -->
<span class="icon_bank_290 xs"></span> <!-- 부국증권 -->
<span class="icon_bank_291 xs"></span> <!-- 신영 -->
<span class="icon_bank_292 xs"></span> <!-- 케이프 -->
<span class="icon_bank_294 xs"></span> <!-- 한국포스 -->
<br><br>
<span class="icon_bank_41  xs"></span> <!-- 우리카드 -->
<span class="icon_bank_361 xs"></span> <!-- BC카드 -->
<span class="icon_bank_365 xs"></span> <!-- 삼성카드 -->
<span class="icon_bank_366 xs"></span> <!-- 신한카드 -->
<span class="icon_bank_367 xs"></span> <!-- 현대카드 -->
<span class="icon_bank_368 xs"></span> <!-- 롯데카드 -->
<span class="icon_bank_374 xs"></span> <!-- 하나카드 -->
<span class="icon_bank_381 xs"></span> <!-- KB국민카드 -->
<br><br>
<span class="icon_bank_f06 xs"></span>  <!-- 비바리퍼블리카 -->
<span class="icon_bank_f09 xs"></span>  <!-- 카카오 -->
<span class="icon_bank_f16 xs"></span>  <!-- 네이버페이 -->
<span class="icon_bank_f11 xs"></span>  <!-- 뱅크샐러드 -->
<span class="icon_bank_f15 xs"></span>  <!-- 쿠팡페이 -->
<span class="icon_bank_f07 xs"></span>  <!-- 핀크 -->
<span class="icon_bank_f14 xs"></span>  <!-- 코아아이 -->
<span class="icon_bank_f10 xs"></span>  <!-- 세트뱅크 -->
<span class="icon_bank_f03 xs"></span>  <!-- 글로벌머니익스프레스 -->
<span class="icon_bank_f21 xs"></span>  <!-- 케이에스넷 -->
<span class="icon_bank_f20 xs"></span>  <!-- 십일번가 -->
<span class="icon_bank_f25 xs"></span>  <!-- 나이스정보 -->
<span class="icon_bank_f28 xs"></span>  <!-- 다날 -->
<span class="icon_bank_f13 xs"></span>  <!-- 갤럭시아머니트리 -->
<span class="icon_bank_f26 xs"></span>  <!-- 이베이 -->
<span class="icon_bank_f17 xs"></span>  <!-- ssg페이 -->
<span class="icon_bank_f23 xs"></span>  <!-- 롯데멤버스 -->
<span class="icon_bank_f24 xs"></span>  <!-- 오케이인베트스먼트파트너스 -->
<span class="icon_bank_f22 xs"></span>  <!-- DGB페이 -->
<span class="icon_bank_f01 xs"></span>  <!-- 지머니 -->
<span class="icon_bank_f05 xs"></span>  <!-- 트래블월렛 -->
<span class="icon_bank_f27 xs"></span>  <!-- 차이코퍼레이션 -->
<span class="icon_bank_f12 xs"></span>  <!-- 쿠콘 -->
<span class="icon_bank_f18 xs"></span>  <!-- 티머니-->
<span class="icon_bank_f19 xs"></span>  <!-- 페이코 -->
<span class="icon_bank_f02 xs"></span>  <!-- 핀샷 -->
<span class="icon_bank_f08 xs"></span>  <!-- 디셈버 -->
<span class="icon_bank_f04 xs"></span>  <!-- 한패스 -->
<span class="icon_bank_f29 xs"></span>  <!-- 웰컴페이먼츠 -->
<span class="icon_bank_f30 xs"></span>  <!-- sk플래닛 -->
<span class="icon_bank_f31 xs"></span>  <!-- 아이씨비 -->
<span class="icon_bank_f32 xs"></span>  <!-- KG이니시스 -->
<span class="icon_bank_f33 xs"></span>  <!-- 한국정보통신 -->
<span class="icon_bank_f34 xs"></span>  <!-- 지엘엔인터내셔널 - 띳머니 -->
<span class="icon_bank_f35 xs"></span>  <!--  와이어바알리 - 와이어바알리 선불충전금 -->
<span class="icon_bank_f36 xs"></span>  <!-- 당근페이 -->
<span class="icon_bank_f38 xs"></span>  <!-- Finddy -->
<span class="icon_bank_f39 xs"></span>  <!-- 비즈플레이 -->
<br><br>
<span class="icon_bank_301 xs"></span> <!-- 국세,지방세 -->
<span class="icon_bank_302 xs"></span> <!-- 국세,지방세 -->
        </script>


        <div data-class="h2">은행CI 24</div>
        <script type="text/html">
<div class="acc_bank md">
    <span class="icon_bank_002"></span> <!-- 산업 -->
    <span class="icon_bank_003"></span> <!-- 기업 -->
    <span class="icon_bank_004"></span> <!-- 국민 -->
    <span class="icon_bank_007"></span> <!-- 수협 -->
    <span class="icon_bank_011"></span> <!--  농협-->
    <span class="icon_bank_020"></span> <!-- 우리 -->
    <span class="icon_bank_023"></span> <!-- SC(스탠다드차티드) -->
    <span class="icon_bank_027"></span> <!-- 한국씨티(구한미) -->
    <span class="icon_bank_031"></span> <!-- 대구 -->
    <span class="icon_bank_032"></span> <!-- 부산 -->
    <span class="icon_bank_034"></span> <!-- 광주 -->
    <span class="icon_bank_035"></span> <!-- 제주 -->
    <span class="icon_bank_037"></span> <!-- 전북 -->
    <span class="icon_bank_039"></span> <!-- 경남 -->
    <span class="icon_bank_081"></span> <!-- KEB하나(구외환포함) -->
    <span class="icon_bank_088"></span> <!-- 신한(구조흥포함) -->
    <span class="icon_bank_089"></span> <!-- 케이뱅크 -->
    <span class="icon_bank_090"></span> <!-- 카카오뱅크 -->
    <span class="icon_bank_092"></span> <!-- 토스뱅크 -->
    <span class="icon_bank_054"></span> <!-- 홍콩상하이(HSBC) -->
    <span class="icon_bank_055"></span> <!-- 도이치 -->
    <span class="icon_bank_057"></span> <!-- 제이피모간체이스 -->
    <span class="icon_bank_060"></span> <!-- 뱅크오브아메리카 -->
    <span class="icon_bank_061"></span> <!-- 비엔피파리바 -->
    <span class="icon_bank_062"></span> <!-- 중국공상 -->
    <span class="icon_bank_063"></span> <!-- 중국은행 -->
    <span class="icon_bank_067"></span> <!-- 중국건설은행 -->
    <br><br>
    <span class="icon_bank_012"></span>  <!-- 농협중앙회 -->
    <span class="icon_bank_045"></span> <!-- 새마을금고 -->
    <span class="icon_bank_048"></span> <!-- 신용협동조합 -->
    <span class="icon_bank_050"></span> <!-- 상호저축은행중앙회 -->
    <span class="icon_bank_064"></span> <!-- 산림조합 -->
    <span class="icon_bank_065"></span> <!-- KB저축은행 -->
    <span class="icon_bank_071"></span> <!-- 우체국 -->
    <br><br>
    <span class="icon_bank_218"></span>  <!-- KB증권 -->
    <span class="icon_bank_227"></span>  <!-- KTB투자증권 -->
    <span class="icon_bank_238"></span>  <!-- 미래에셋 -->
    <span class="icon_bank_240"></span>  <!-- 삼성 -->
    <span class="icon_bank_243"></span>  <!-- 한국투자 -->
    <span class="icon_bank_247"></span>  <!-- NH투자 -->
    <span class="icon_bank_261"></span>  <!-- 교보 -->
    <span class="icon_bank_262"></span>  <!-- 하이투자 -->
    <span class="icon_bank_263"></span>  <!-- 현대차증권 -->
    <span class="icon_bank_264"></span>  <!-- 키움 -->
    <span class="icon_bank_265"></span>  <!-- 이베스트투자 -->
    <span class="icon_bank_266"></span>  <!-- SK증권 -->
    <span class="icon_bank_267"></span>  <!-- 대신증권 -->
    <span class="icon_bank_269"></span>  <!-- 한화투자 -->
    <span class="icon_bank_270"></span>  <!-- 하나금융투자 -->
    <span class="icon_bank_271"></span>  <!-- 토스증권 -->
    <span class="icon_bank_278"></span>  <!-- 신한금융투자 -->
    <span class="icon_bank_279"></span>  <!-- DB금융투자 -->
    <span class="icon_bank_280"></span>  <!-- 유진투자 -->
    <span class="icon_bank_287"></span>  <!-- 메리츠증권 -->
    <span class="icon_bank_209"></span> <!-- 유안타 -->
    <span class="icon_bank_224"></span> <!-- BNK투자증권 -->
    <span class="icon_bank_225"></span> <!-- IBK투자증권 -->
    <span class="icon_bank_288"></span> <!-- 카카오페이증권 -->
    <span class="icon_bank_290"></span> <!-- 부국증권 -->
    <span class="icon_bank_291"></span> <!-- 신영 -->
    <span class="icon_bank_292"></span> <!-- 케이프 -->
    <span class="icon_bank_294"></span> <!-- 한국포스 -->
    <br><br>
    <span class="icon_bank_41 "></span> <!-- 우리카드 -->
    <span class="icon_bank_361"></span> <!-- BC카드 -->
    <span class="icon_bank_365"></span> <!-- 삼성카드 -->
    <span class="icon_bank_366"></span> <!-- 신한카드 -->
    <span class="icon_bank_367"></span> <!-- 현대카드 -->
    <span class="icon_bank_368"></span> <!-- 롯데카드 -->
    <span class="icon_bank_374"></span> <!-- 하나카드 -->
    <span class="icon_bank_381"></span> <!-- KB국민카드 -->
    <br><br>
    <span class="icon_bank_f06"></span>  <!-- 비바리퍼블리카 -->
    <span class="icon_bank_f09"></span>  <!-- 카카오 -->
    <span class="icon_bank_f16"></span>  <!-- 네이버페이 -->
    <span class="icon_bank_f11"></span>  <!-- 뱅크샐러드 -->
    <span class="icon_bank_f15"></span>  <!-- 쿠팡페이 -->
    <span class="icon_bank_f07"></span>  <!-- 핀크 -->
    <span class="icon_bank_f14"></span>  <!-- 코아아이 -->
    <span class="icon_bank_f10"></span>  <!-- 세트뱅크 -->
    <span class="icon_bank_f03"></span>  <!-- 글로벌머니익스프레스 -->
    <span class="icon_bank_f21"></span>  <!-- 케이에스넷 -->
    <span class="icon_bank_f20"></span>  <!-- 십일번가 -->
    <span class="icon_bank_f25"></span>  <!-- 나이스정보 -->
    <span class="icon_bank_f28"></span>  <!-- 다날 -->
    <span class="icon_bank_f13"></span>  <!-- 갤럭시아머니트리 -->
    <span class="icon_bank_f26"></span>  <!-- 이베이 -->
    <span class="icon_bank_f17"></span>  <!-- ssg페이 -->
    <span class="icon_bank_f23"></span>  <!-- 롯데멤버스 -->
    <span class="icon_bank_f24"></span>  <!-- 오케이인베트스먼트파트너스 -->
    <span class="icon_bank_f22"></span>  <!-- DGB페이 -->
    <span class="icon_bank_f01"></span>  <!-- 지머니 -->
    <span class="icon_bank_f05"></span>  <!-- 트래블월렛 -->
    <span class="icon_bank_f27"></span>  <!-- 차이코퍼레이션 -->
    <span class="icon_bank_f12"></span>  <!-- 쿠콘 -->
    <span class="icon_bank_f18"></span>  <!-- 티머니-->
    <span class="icon_bank_f19"></span>  <!-- 페이코 -->
    <span class="icon_bank_f02"></span>  <!-- 핀샷 -->
    <span class="icon_bank_f08"></span>  <!-- 디셈버 -->
    <span class="icon_bank_f04"></span>  <!-- 한패스 -->
    <span class="icon_bank_f29"></span>  <!-- 웰컴페이먼츠 -->
    <span class="icon_bank_f30"></span>  <!-- sk플래닛 -->
    <span class="icon_bank_f31"></span>  <!-- 아이씨비 -->
    <span class="icon_bank_f32"></span>  <!-- KG이니시스 -->
    <span class="icon_bank_f33"></span>  <!-- 한국정보통신 -->
    <span class="icon_bank_f34"></span>  <!-- 지엘엔인터내셔널 - 띳머니 -->
    <span class="icon_bank_f35"></span>  <!-- 와이어바알리 - 와이어바알리 선불충전금 -->
    <span class="icon_bank_f36"></span>  <!-- 당근페이 -->
	<span class="icon_bank_f38"></span>  <!-- Finddy -->
	<span class="icon_bank_f39"></span>  <!-- 비즈플레이 -->
    <br><br>
    <span class="icon_bank_301"></span> <!-- 국세,지방세 -->
    <span class="icon_bank_302"></span> <!-- 국세,지방세 -->
</div>            
        </script>

        
        <div data-class="h2">은행CI 48</div>
        <script type="text/html">
<span class="icon_bank_002 lg"></span> <!-- 산업 -->
<span class="icon_bank_003 lg"></span> <!-- 기업 -->
<span class="icon_bank_004 lg"></span> <!-- 국민 -->
<span class="icon_bank_007 lg"></span> <!-- 수협 -->
<span class="icon_bank_011 lg"></span> <!--  농협-->
<span class="icon_bank_020 lg"></span> <!-- 우리 -->
<span class="icon_bank_023 lg"></span> <!-- SC(스탠다드차티드) -->
<span class="icon_bank_027 lg"></span> <!-- 한국씨티(구한미) -->
<span class="icon_bank_031 lg"></span> <!-- 대구 -->
<span class="icon_bank_032 lg"></span> <!-- 부산 -->
<span class="icon_bank_034 lg"></span> <!-- 광주 -->
<span class="icon_bank_035 lg"></span> <!-- 제주 -->
<span class="icon_bank_037 lg"></span> <!-- 전북 -->
<span class="icon_bank_039 lg"></span> <!-- 경남 -->
<span class="icon_bank_081 lg"></span> <!-- KEB하나(구외환포함) -->
<span class="icon_bank_088 lg"></span> <!-- 신한(구조흥포함) -->
<span class="icon_bank_089 lg"></span> <!-- 케이뱅크 -->
<span class="icon_bank_090 lg"></span> <!-- 카카오뱅크 -->
<span class="icon_bank_092 lg"></span> <!-- 토스뱅크 -->
<span class="icon_bank_054 lg"></span> <!-- 홍콩상하이(HSBC) -->
<span class="icon_bank_055 lg"></span> <!-- 도이치 -->
<span class="icon_bank_057 lg"></span> <!-- 제이피모간체이스 -->
<span class="icon_bank_060 lg"></span> <!-- 뱅크오브아메리카 -->
<span class="icon_bank_061 lg"></span> <!-- 비엔피파리바 -->
<span class="icon_bank_062 lg"></span> <!-- 중국공상 -->
<span class="icon_bank_063 lg"></span> <!-- 중국은행 -->
<span class="icon_bank_067 lg"></span> <!-- 중국건설은행 -->
<br><br>
<span class="icon_bank_012 lg"></span>  <!-- 농협중앙회 -->
<span class="icon_bank_045 lg"></span> <!-- 새마을금고 -->
<span class="icon_bank_048 lg"></span> <!-- 신용협동조합 -->
<span class="icon_bank_050 lg"></span> <!-- 상호저축은행중앙회 -->
<span class="icon_bank_064 lg"></span> <!-- 산림조합 -->
<span class="icon_bank_065 lg"></span> <!-- KB저축은행 -->
<span class="icon_bank_071 lg"></span> <!-- 우체국 -->
<br><br>
<span class="icon_bank_218 lg"></span>  <!-- KB증권 -->
<span class="icon_bank_227 lg"></span>  <!-- KTB투자증권 -->
<span class="icon_bank_238 lg"></span>  <!-- 미래에셋 -->
<span class="icon_bank_240 lg"></span>  <!-- 삼성 -->
<span class="icon_bank_243 lg"></span>  <!-- 한국투자 -->
<span class="icon_bank_247 lg"></span>  <!-- NH투자 -->
<span class="icon_bank_261 lg"></span>  <!-- 교보 -->
<span class="icon_bank_262 lg"></span>  <!-- 하이투자 -->
<span class="icon_bank_263 lg"></span>  <!-- 현대차증권 -->
<span class="icon_bank_264 lg"></span>  <!-- 키움 -->
<span class="icon_bank_265 lg"></span>  <!-- 이베스트투자 -->
<span class="icon_bank_266 lg"></span>  <!-- SK증권 -->
<span class="icon_bank_267 lg"></span>  <!-- 대신증권 -->
<span class="icon_bank_269 lg"></span>  <!-- 한화투자 -->
<span class="icon_bank_270 lg"></span>  <!-- 하나금융투자 -->
<span class="icon_bank_271 lg"></span>  <!-- 토스증권 -->
<span class="icon_bank_278 lg"></span>  <!-- 신한금융투자 -->
<span class="icon_bank_279 lg"></span>  <!-- DB금융투자 -->
<span class="icon_bank_280 lg"></span>  <!-- 유진투자 -->
<span class="icon_bank_287 lg"></span>  <!-- 메리츠증권 -->
<span class="icon_bank_209 lg"></span> <!-- 유안타 -->
<span class="icon_bank_224 lg"></span> <!-- BNK투자증권 -->
<span class="icon_bank_225 lg"></span> <!-- IBK투자증권 -->
<span class="icon_bank_288 lg"></span> <!-- 카카오페이증권 -->
<span class="icon_bank_290 lg"></span> <!-- 부국증권 -->
<span class="icon_bank_291 lg"></span> <!-- 신영 -->
<span class="icon_bank_292 lg"></span> <!-- 케이프 -->
<span class="icon_bank_294 lg"></span> <!-- 한국포스 -->
<br><br>
<span class="icon_bank_301 lg"></span> <!-- 국세 -->
<span class="icon_bank_302 lg"></span> <!-- 국세 -->
            </script>

    </div>              
    <div data-class="section">
    <div data-class="h1">국기(외환)</div>
    <script type="text/html">
<div>
    <span class="country_flag_im sm usd"></span>
    <span class="country_flag_im sm jpy"></span>
    <span class="country_flag_im sm eur"></span>
    <span class="country_flag_im sm gbp"></span>
    <span class="country_flag_im sm chf"></span>
    <span class="country_flag_im sm cad"></span>
    <span class="country_flag_im sm aud"></span>
    <span class="country_flag_im sm nzd"></span>
    <span class="country_flag_im sm hkd"></span>
    <span class="country_flag_im sm cny"></span>
    <span class="country_flag_im sm sek"></span>
    <span class="country_flag_im sm dkk"></span>
    <span class="country_flag_im sm nok"></span>
    <span class="country_flag_im sm sar"></span>
    <span class="country_flag_im sm kwd"></span>
    <span class="country_flag_im sm bhd"></span>
    <span class="country_flag_im sm aed"></span>
    <span class="country_flag_im sm thb"></span>
    <span class="country_flag_im sm sgd"></span>
    <span class="country_flag_im sm idr"></span>
    <span class="country_flag_im sm zar"></span>
    <span class="country_flag_im sm rub"></span>
    <span class="country_flag_im sm huf"></span>
    <span class="country_flag_im sm pln"></span>
    <span class="country_flag_im sm inr"></span>
    <span class="country_flag_im sm myr"></span>
    <span class="country_flag_im sm pkr"></span>
    <span class="country_flag_im sm bdt"></span>
    <span class="country_flag_im sm php"></span>
    <span class="country_flag_im sm egp"></span>
    <span class="country_flag_im sm mxn"></span>
    <span class="country_flag_im sm brl"></span>
    <span class="country_flag_im sm bnd"></span>
    <span class="country_flag_im sm twd"></span>
    <span class="country_flag_im sm ils"></span>
    <span class="country_flag_im sm jod"></span>
    <span class="country_flag_im sm vnd"></span>
    <span class="country_flag_im sm kzt"></span>
    <span class="country_flag_im sm try"></span>
    <span class="country_flag_im sm czk"></span>
    <span class="country_flag_im sm mnt"></span>
    <span class="country_flag_im sm qar"></span>
    <span class="country_flag_im sm krw"></span>
</div>
<br>
<div>
    <span class="country_flag_im md usd"></span>
    <span class="country_flag_im md jpy"></span>
    <span class="country_flag_im md eur"></span>
    <span class="country_flag_im md gbp"></span>
    <span class="country_flag_im md chf"></span>
    <span class="country_flag_im md cad"></span>
    <span class="country_flag_im md aud"></span>
    <span class="country_flag_im md nzd"></span>
    <span class="country_flag_im md hkd"></span>
    <span class="country_flag_im md cny"></span>
    <span class="country_flag_im md sek"></span>
    <span class="country_flag_im md dkk"></span>
    <span class="country_flag_im md nok"></span>
    <span class="country_flag_im md sar"></span>
    <span class="country_flag_im md kwd"></span>
    <span class="country_flag_im md bhd"></span>
    <span class="country_flag_im md aed"></span>
    <span class="country_flag_im md thb"></span>
    <span class="country_flag_im md sgd"></span>
    <span class="country_flag_im md idr"></span>
    <span class="country_flag_im md zar"></span>
    <span class="country_flag_im md rub"></span>
    <span class="country_flag_im md huf"></span>
    <span class="country_flag_im md pln"></span>
    <span class="country_flag_im md inr"></span>
    <span class="country_flag_im md myr"></span>
    <span class="country_flag_im md pkr"></span>
    <span class="country_flag_im md bdt"></span>
    <span class="country_flag_im md php"></span>
    <span class="country_flag_im md egp"></span>
    <span class="country_flag_im md mxn"></span>
    <span class="country_flag_im md brl"></span>
    <span class="country_flag_im md bnd"></span>
    <span class="country_flag_im md twd"></span>
    <span class="country_flag_im md ils"></span>
    <span class="country_flag_im md jod"></span>
    <span class="country_flag_im md vnd"></span>
    <span class="country_flag_im md kzt"></span>
    <span class="country_flag_im md try"></span>
    <span class="country_flag_im md czk"></span>
    <span class="country_flag_im md mnt"></span>
    <span class="country_flag_im md qar"></span>
    <span class="country_flag_im md krw"></span>
</div>
    </script>


    <script type="text/html">
<div>
    <span class="country_flag_im2 sm usd"></span>
    <span class="country_flag_im2 sm jpy"></span>
    <span class="country_flag_im2 sm eur"></span>
    <span class="country_flag_im2 sm gbp"></span>
    <span class="country_flag_im2 sm chf"></span>
    <span class="country_flag_im2 sm cad"></span>
    <span class="country_flag_im2 sm aud"></span>
    <span class="country_flag_im2 sm nzd"></span>
    <span class="country_flag_im2 sm hkd"></span>
    <span class="country_flag_im2 sm cny"></span>
    <span class="country_flag_im2 sm sek"></span>
    <span class="country_flag_im2 sm dkk"></span>
    <span class="country_flag_im2 sm nok"></span>
    <span class="country_flag_im2 sm sar"></span>
    <span class="country_flag_im2 sm kwd"></span>
    <span class="country_flag_im2 sm bhd"></span>
    <span class="country_flag_im2 sm aed"></span>
    <span class="country_flag_im2 sm thb"></span>
    <span class="country_flag_im2 sm sgd"></span>
    <span class="country_flag_im2 sm idr"></span>
    <span class="country_flag_im2 sm zar"></span>
    <span class="country_flag_im2 sm rub"></span>
    <span class="country_flag_im2 sm huf"></span>
    <span class="country_flag_im2 sm pln"></span>
    <span class="country_flag_im2 sm inr"></span>
    <span class="country_flag_im2 sm myr"></span>
    <span class="country_flag_im2 sm pkr"></span>
    <span class="country_flag_im2 sm bdt"></span>
    <span class="country_flag_im2 sm php"></span>
    <span class="country_flag_im2 sm egp"></span>
    <span class="country_flag_im2 sm mxn"></span>
    <span class="country_flag_im2 sm brl"></span>
    <span class="country_flag_im2 sm bnd"></span>
    <span class="country_flag_im2 sm twd"></span>
    <span class="country_flag_im2 sm ils"></span>
    <span class="country_flag_im2 sm jod"></span>
    <span class="country_flag_im2 sm vnd"></span>
    <span class="country_flag_im2 sm kzt"></span>
    <span class="country_flag_im2 sm try"></span>
    <span class="country_flag_im2 sm czk"></span>
    <span class="country_flag_im2 sm mnt"></span>
    <span class="country_flag_im2 sm qar"></span>
    <span class="country_flag_im2 sm krw"></span>
</div>
    </script>
</div>              
<div data-class="section">
    <div data-class="h1">공유하기</div>
    <script type="text/html">
<ul class="sns_list">
    <li><button class="btn_share kakao">카카오톡</button></li>
    <li><button class="btn_share sms">SMS전송</button></li>
    <li><button class="btn_share twitter">트위터</button></li>
    <li><button class="btn_share facebook">페이스북</button></li>
</ul>
    </script>
</div>
<div data-class="section">
    <div data-class="h1">알림함</div>
    <link rel="stylesheet" href="../../app/css/my.css">
    <script type="text/html">
<div class="cate_my">
<div class="curation">
<div class="cura_sec">

<p class="tit_01 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>입출금</p>
<p class="tit_02 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>금융정보</p>
<p class="tit_03 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>마케팅</p>
<p class="tit_04 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>보안정보</p>
<p class="tit_05 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>MY알림</p>
<p class="tit_06 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>KB금융그룹</p>
<p class="tit_07 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>외부기관</p>
<p class="tit_08 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>맞춤상품,혜택</p>
<p class="tit_09 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>투자정보</p>
<p class="tit_10 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>행정안전부</p>
<p class="tit_11 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>라이프알림</p>
<p class="tit_12 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>고객상담</p>
<p class="tit_13 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>주요알림</p>
<p class="tit_14 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>꿀팁알림</p>
<p class="tit_15 tit_read"><span class="ico_read"><span class="hidden">신규알림</span></span>포인트알림</p>

</div>
</div>
</div>
    </script>
</div>

    <div data-class="section">  
    <div data-class="h1">기타</div>
    <div data-class="h2">badge</div>
    <div data-class="p">기본</div>
    <script type="text/html">
<span class="badge ">기본</span>
<span class="badge state1">활동성</span>
<span class="badge state2">비활동성</span>
<span class="badge state3">신규</span>
<span class="badge state4">추천</span>
<span class="badge state5">모계좌</span>
<span class="badge state6">창구</span>
<span class="badge state7">ATM</span>
<span class="badge line">라인</span>
<span class="badge line_sky">하늘색 라인</span>
<span class="badge line_blue">파란색 라인</span>
<span class="badge approval">승낙 완료</span>
<span class="badge refusal">승낙 거절</span>
<span class="badge rd">채권형</span>
<span class="badge sm">작은사이즈</span>
    </script>

    <div data-class="p">자산관리</div>
    <script type="text/html">
<span class="badge robo">로보</span>
<span class="badge expert">관리자</span>
    </script>

    <div data-class="h2">flag</div>
    <div data-class="p">상품 flag</div>
    <script type="text/html">
<span class="badge pdt1">입출금</span>
<span class="badge pdt2">예금적금</span>
<span class="badge pdt3">대출</span>
<span class="badge pdt4">펀드</span>
<span class="badge pdt5">보험공제</span>
<span class="badge pdt6">퇴직연금</span>
<span class="badge pdt7">신탁ISA</span>
<span class="badge pdt8">증권</span>
<span class="badge pdt9">외화골드</span>
    </script>

    <div data-class="p">상태 flag</div>
    <script type="text/html">
<span class="flag_fill_01">정상</span>
<span class="flag_fill_02">오류</span>
<span class="flag_fill_03">이체의뢰중</span>
    </script>

    <div data-class="p">지로 flag</div>
    <script type="text/html">
<span class="flag_giro">OCR</span>
<span class="flag_giro">MICR</span>
    </script>


<div data-class="h2">상승/하락</div>
<div data-class="p">데이터 관련 아이콘</div>
<div data-class="box">
state_arr뒤에 오는 num_unit은 개행하지마세요.<br>
state_arr 안에 % 넣지말고 뒤에 num_unit으로 넣어주세요.<br>
state_arr 자체에 roboto가 들어가 있기때문에 state_arr 숫자를 number로 감싸지마세요.<br>
숫자를 굵게 표현하고 싶으면 span.state_arr -> strong.state_arr 로 해주세요.<br>
</div>
<div data-class="notice">웹와치에 검수 요청하였으나 문제 없다고 피드백 받음. 다시 확인 필요!</div>
<script type="text/html">
<span class="state_arr up" role="text"><em class="hidden">상승</em>0.19</span> 
<br>
<span class="state_arr down" role="text"><em class="hidden">하락</em>0.19</span>
<br>
<span class="state_arr same" role="text"><em class="hidden">동일</em>0.19</span>
<br>
<span class="state_arr up" role="text"><em class="hidden">상승</em>0.19</span><span class="num_unit">%</span> 
<br>
<span class="state_arr same" role="text"><em class="hidden">동일</em>0.19</span><span class="num_unit">%</span> 
<br>
<a href="#none" class="btn_txt ico_arr"><span class="state_arr down" role="text"><em class="hidden">하락</em>11.15</span><span class="num_unit">%</span></a>
</script>

<div data-class="h2">+ / -</div>
<script type="text/html">
<span class="ico_rate up"><span class="hidden">상승</span></span>
<br>
<span class="ico_rate down"><span class="hidden">하락</span></span>    
    </script>

</div>
    
    <script type="text/javascript" src="../assets/vendor/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/lodash.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/highlight/highlight.min.js"></script>
    <script type="text/javascript" src="../assets/vendor/clipboard.min.js"></script>
    <script type="text/javascript" src="../assets/js/components.js"></script>
    
    <!-- Loading Custom Script -->
    <script type="text/javascript" src="../../app/js/common_ui.js"></script>
    <!-- common ui init -->
    <script type="text/javascript" src="../../app/js/common_ui_init.js"></script>
</body>
</html>