@charset "utf-8";

/* ********** AS-IS ********** */

figure {margin:0;}


/* ***** 이용안내, 요금제 ***** */
table.table_charge {margin-top: 2rem; text-align: center;}
table.table_charge th {padding:1.6rem 1rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:var(--bg_02, #F8F9FB); color:var(--gray_01, #222); font-size:1.4rem; font-weight:700; line-height:2.1rem; text-align:center!important;}
table.table_charge td {padding:1.6rem 1rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:#fff; color:var(--gray_01, #222); font-size:1.2rem; font-weight:normal; line-height:1.9rem;}
table.table_charge tbody tr .txt_comm_wrap .txt_comm {display: inline-block; vertical-align: middle; font-size: 1rem; color: #0060e5; font-weight: bold; line-height: inherit; white-space: nowrap;}
table.table_charge tbody th,
table.table_charge tfoot th {background-color:#fff; font-weight:normal;}
table.table_charge thead tr:first-of-type th,
table.table_charge thead tr:first-of-type td,
table.table_charge tbody tr:first-of-type th,
table.table_charge tbody tr:first-of-type td {border-top:1px solid var(--line_02, #D6D6D6);}
table.table_charge thead + tbody tr:first-of-type th,
table.table_charge thead + tbody tr:first-of-type td {border-top:none;}
table.table_charge th:first-of-type,
table.table_charge td:first-child {border-left:none;}
table.table_charge thead th:last-of-type,
table.table_charge td:last-child {border-right:none;}
table.table_charge .t_left {text-align: left;}

table.table th {padding:1.6rem 0.4rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:var(--bg_02, #F8F9FB); color:var(--gray_01, #222); font-size:1.4rem; font-weight:700; line-height:2.1rem; text-align:center !important; word-break:break-all;}
table.table td {padding:1.6rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:#fff; color:var(--gray_01, #222); font-size:1.2rem; font-weight:normal; line-height:1.9rem; word-break:break-word;}
.table .center td {padding:1.6rem 0.4rem;}
table.table tbody > th {background-color:var(--bg_02, #F8F9FB);}
table.table thead + tbody th,
table.table tfoot th {background-color:#fff; font-weight:normal;}
table.table thead tr:first-of-type > th,
table.table thead tr:first-of-type > td,
table.table tbody tr:first-of-type > th,
table.table tbody tr:first-of-type > td {border-top:1px solid var(--line_02, #D6D6D6);}
table.table thead + tbody > tr:first-of-type > th,
table.table thead + tbody > tr:first-of-type > td {border-top:none;}
table.table th:first-of-type,
table.table td:first-child {border-left:none;}
table.table thead th:last-of-type,
table.table td:last-child {border-right:none;}

/* ***** 요금제 ***** */
/* 상단 txt_help */
.txt_help p {position: relative; margin-top: .8rem; padding-left: 0.6rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem; text-align:justify;}
.txt_help p:first-child {margin-top: 0;}
.txt_help p:not(.bullet):before {content: ''; position: absolute; left: 0; top: 0.8rem; display: block; width: 0.2rem; height: 0.2rem; border-radius: 50%; background-color: var(--gray_02, #555);}
.rateplan_ct_mid + .txt_help {padding-top:2.4rem; margin-top:2rem; border-top:1px solid #eaeced;}

/* common */
.extra_detail .mgb0 {margin-bottom:0 !important;}
.extra_detail .mgl0 {margin-left:0 !important;}
.extra_detail .mgl12 {margin-left: 1.2rem !important;}
.table p {margin:0 !important; padding:0 !important;}

.chargeinfo_wrap .pro_gr,
.chargeinfo_wrap .chargeinfo_gr {margin-top:3.2rem;}

.txt_comm2 {position: relative; margin-top: 2rem; padding-top: 2rem; color:#555; font-size:1.2rem; line-height:1.9rem; word-break:keep-all;}
.txt_comm2::after {content: ""; display: block; position: absolute; top: 0; left: 0; margin-bottom: 2rem; width: 100%; border-top: 1px solid #F6F6F6;}

/* btn */
.chargeinfo_wrap .btn_area.type_insview a {margin-top: 2rem; width: 100%; border: 1px solid #ffd338; background: #ffd338; color: #222;}

/* color */
.chargeinfo_wrap .t_color02{color:#0060e5 !important;}
.chargeinfo_wrap .t_color03{color:#1065dc !important;}

/* promotion */
.chargeinfo_wrap .promotion_type1 {margin-top: 3.2rem;}
.chargeinfo_wrap .promotion_type1 .pro_gr {padding: 2rem 2rem; background-color: #eef5ff; border-radius: 1.2rem;}
.chargeinfo_wrap .promotion_type1 .pro_gr:nth-child(2n) {background-color: #fff8e1;}
.chargeinfo_wrap .promotion_type1 .pro_gr ~ .pro_gr {margin-top:2rem;}
.chargeinfo_wrap .promotion_type1 .pro_gr .tit {position: relative; display: flex; align-items: center; min-height: 4.8rem; padding-right:6rem; font-size: 1.8rem; line-height: 2.4rem; color: #222; font-weight: 700; word-break: keep-all;}
.chargeinfo_wrap .promotion_type1 .pro_gr .tit::after {content: ""; display: block; position: absolute; top: 50%; right: 0; width: 5.176rem; height: 5.215rem; transform: translateY(-50%); background: url(../img/img/flat_promotion.png) no-repeat center; background-size: 5.176rem auto;}
.chargeinfo_wrap .promotion_type1 .pro_gr > p {margin-top: 1rem; font-size: 1.4rem; line-height: 2.2rem; color: #222; word-break: keep-all;}
.chargeinfo_wrap .promotion_type1 .pro_gr > p:first-child {margin-top: 0;}
.chargeinfo_wrap .promotion_type1 .pro_gr > ul {margin-top: 1.2rem;}
.chargeinfo_wrap .promotion_type1 .pro_gr > ul li {position: relative; padding-left: 1.1rem; font-size: 1.2rem; line-height: 1.9rem; font-weight: 400; color: #555;}
.chargeinfo_wrap .promotion_type1 .pro_gr > ul li::before {content: ''; position: absolute; left: 0; top: 0.8rem; display: block; width: .2rem; height: .2rem; border-radius: 50%; background-color: var(--gray_02, #555);}
.chargeinfo_wrap .promotion_type1 .pro_gr > ul li em {display: none;}
.chargeinfo_wrap .promotion_type1 .pro_gr .txt_help.type_sub {margin-top: 0.8rem;}

/* star_type_bullet  */
.chargeinfo_wrap .chargeinfo_gr .txt_help .bullet,
.chargeinfo_wrap .promotion_type1 .pro_gr .txt_help.type_sub .bullet,
.chargeinfo_wrap .chargeinfo_gr .info.type_notable .txt_help .bullet,
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in .info_gr .bullet, 
.chargeinfo_wrap .chargeinfo_gr .type_service .info_sec .txt_help.table_help > ul > li,
.chargeinfo_wrap .chargeinfo_gr .type_service .info_sec .txt_help > ul > li, 
.chargeinfo_wrap .info.type_table .txt_help.type_bullet .bullet,
.chargeinfo_wrap .chargeinfo_gr .stitle_bar .txt_help.type_bullet .bullet {position: relative; padding-left: 1.1rem; margin-top: .8rem; color: #555; font-size: 1.2rem; line-height: 1.9rem; text-indent: 0;}
.chargeinfo_wrap .chargeinfo_gr .txt_help .bullet::before,
.chargeinfo_wrap .promotion_type1 .pro_gr .txt_help.type_sub .bullet::before,
.chargeinfo_wrap .chargeinfo_gr .info.type_notable .txt_help .bullet::before, 
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in .info_gr .bullet::before,
.chargeinfo_wrap .chargeinfo_gr .type_service .info_sec .txt_help.table_help > ul > li::before,
.chargeinfo_wrap .chargeinfo_gr .type_service .info_sec .txt_help > ul > li::before, 
.chargeinfo_wrap .info.type_table .txt_help.type_bullet .bullet::before,
.chargeinfo_wrap .chargeinfo_gr .stitle_bar .txt_help.type_bullet .bullet::before  {content: ''; position: absolute; left: 0; top: 0.6rem; display: block; width: 0.7rem; height: 0.7rem; background-image: url(../img/common/icon_star_shape_gray_7.svg); background-repeat: no-repeat; background-position: center; background-size: contain;}
.chargeinfo_wrap .promotion_type1 .pro_gr .txt_help.type_sub .bullet {margin-top: 0px !important;} /* 예외Case */

/* stitle_bar */
.chargeinfo_wrap .chargeinfo_gr .stitle_bar {display: table; position: sticky; left: 0; width: 100%;}
.chargeinfo_wrap .chargeinfo_gr .stitle_bar h2,
.chargeinfo_wrap .chargeinfo_gr .info.type_notable .stitle_bar h2 {font-size: 1.6rem; line-height: 2.3rem; font-weight: 700; color: #222;}
.chargeinfo_wrap .chargeinfo_gr .stitle_bar .unit_info {margin-top: 2rem; color: #555; font-size: 1.2rem; line-height: 1.7rem; text-align: right;}
.chargeinfo_wrap .chargeinfo_gr .stitle_bar .txt_help {margin-top: 1.2rem; font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222;}
/* .chargeinfo_wrap .chargeinfo_gr .info.type_notable .stitle_bar h2 {font-size: 1.4rem; line-height: 2.2rem; font-weight: 700; color: #222;} */
.chargeinfo_wrap .chargeinfo_gr .info.type_notable .txt_help {margin-top: .8rem; font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222;}

/* chargeinfo_gr_in */
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in h2 {font-size: 1.6rem; line-height: 2.3rem; font-weight: 700; color: #222;}
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in .info_gr {margin-top: 2rem;}
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in .info_gr .num_tit {font-size: 1.4rem; line-height: 2.2rem; font-weight: 700; color: #222;}
.chargeinfo_wrap .chargeinfo_gr .chargeinfo_gr_in .info_gr p {margin-top: .8rem; margin-bottom: 0; font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222;}

/* table */
.chargeinfo_wrap table.table_charge {margin-top: 0.8rem; text-align: center;}
.chargeinfo_wrap table.table_charge th {padding:1.6rem 0.6rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:var(--bg_02, #F8F9FB); color:var(--gray_01, #222); font-size:1.4rem; font-weight:700; line-height:2.1rem; text-align:center!important;}
.chargeinfo_wrap table.table_charge td {padding:1.6rem 0.6rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:#fff; color:var(--gray_01, #222); font-size:1.2rem; font-weight:normal; line-height:1.9rem;}
.chargeinfo_wrap table.table_charge tbody tr .txt_comm_wrap .txt_comm {display: inline-block; font-size: 1rem; color: #0060e5; font-weight: bold; line-height: inherit; white-space: nowrap; margin:0 !important; padding: 0 !important; }
.chargeinfo_wrap table.table_charge tbody tr .txt_comm_wrap.type_pet .txt_comm {display: block;}
.chargeinfo_wrap table.table_charge tbody th,
.chargeinfo_wrap table.table_charge tfoot th {background-color:#fff; font-weight:600; font-size:1.2rem;}
.chargeinfo_wrap table.table_charge thead tr:first-of-type th,
.chargeinfo_wrap table.table_charge thead tr:first-of-type td,
.chargeinfo_wrap table.table_charge tbody tr:first-of-type th,
.chargeinfo_wrap table.table_charge tbody tr:first-of-type td {border-top:1px solid var(--line_02, #D6D6D6);}
.chargeinfo_wrap table.table_charge thead + tbody tr:first-of-type th,
.chargeinfo_wrap table.table_charge thead + tbody tr:first-of-type td {border-top:none;}
.chargeinfo_wrap table.table_charge th:first-of-type,
.chargeinfo_wrap table.table_charge td:first-child {border-left:none;}
.chargeinfo_wrap table.table_charge thead th:last-of-type,
.chargeinfo_wrap table.table_charge td:last-child {border-right:none;}
.chargeinfo_wrap table.table_charge .t_left {text-align: left;}
.chargeinfo_wrap table.table_charge .t_left .txt_help.type_hyphen p {padding-left: 0; text-indent: 0;}
.chargeinfo_wrap table.table_charge .tb_final_sum2 {font-size: 1.2rem; line-height: 1.9rem; color: #0966e9;}
.chargeinfo_wrap table.table_charge .txt_comm {font-size: 1rem; line-height: 1.4rem; color: #0966e9;}
.chargeinfo_wrap table.table_charge .txt_welfare_help {font-size: 1.2rem;}
.txt_comm_wrap.type_iblock .bg_link {padding: 1px; font-size:1.2rem; line-height:1.2rem; color: #0966E9; background-color: #fff4cf; text-decoration: underline; text-underline-offset: .2rem}


/* txt_help */
.chargeinfo_wrap .chargeinfo_gr .txt_help {margin-top:2rem; font-size: 1.4rem; line-height: 2.2rem; color: #222;}
.chargeinfo_wrap .chargeinfo_gr .txt_help > p {margin-top: 1.2rem; padding-left: 2.2rem; font-size:1.2rem; line-height:1.9rem; color: #555; text-indent: -2.4rem;}
.chargeinfo_wrap .chargeinfo_gr .txt_help p + p{margin-top:0.8rem;}
.chargeinfo_wrap .chargeinfo_gr .txt_help p > .t_color03 {margin-right:.2rem; color:#0060E5; white-space:nowrap; font-size:1.0rem;}
.chargeinfo_wrap .chargeinfo_gr .txt_help p:before {display: none;}
.chargeinfo_wrap .chargeinfo_gr .txt_help > p[style*=padding] {padding-left: 2.3rem !important;}

.chargeinfo_wrap .chargeinfo_gr .na_info.type_service .txt_help {margin-top: 1.2rem;}
.chargeinfo_wrap .chargeinfo_gr .na_info.type_service .txt_help.type_num {margin-top:2rem; font-size: 1.4rem; line-height: 2.2rem; color: #222;}
.chargeinfo_wrap .chargeinfo_gr .na_info.type_service .txt_help.type_num p {margin-top: .8rem; padding-left: 0; font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222; text-indent: 0;}
.chargeinfo_wrap .chargeinfo_gr .na_info.type_service .txt_help.type_num p > em,
.chargeinfo_wrap .chargeinfo_gr .na_info.type_service .txt_help.type_num p > strong {display: inline-block; margin-bottom: .8rem; font-size: 1.4rem; line-height: 2.2rem; font-weight: 700; color: #222;}

.chargeinfo_wrap .lte_info.type_service .info_sec > p {margin-top: .8rem; font-size: 1.4rem; line-height: 2.2rem; color: #222 !important;}

/* 주니어LTE, 시니어LTE */
.chargeinfo_wrap .lte_info.type_service .info_sec {margin-bottom: 1.6rem;}
.chargeinfo_wrap .lte_info.type_service .info_sec .txt_help {margin-top: 0;}
.chargeinfo_wrap .lte_info.type_service .info_sec table {margin-top: .8rem;}

/* 반려행복LTE 이용안내 */
.chargeinfo_wrap .pet_guide_step {margin-top: 2rem;}
.chargeinfo_wrap .pet_guide_step ul {display:table; width:100%;}
.chargeinfo_wrap .pet_guide_step ul li {display:table-cell; width:33%; height:2rem; text-align:center; vertical-align:top;}
.chargeinfo_wrap .pet_guide_step ul li.arrow_dv {width:1.4rem; padding-top:1rem;}
.chargeinfo_wrap .pet_guide_step ul li.arrow_dv i{margin-top:1.4rem;}
.chargeinfo_wrap .pet_guide_step ul li p {margin-top:.8rem; font-size:1.2rem; color:#222; font-weight:700; line-height:1.9rem}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide {display:inline-block; background-image:url(../img/charge_html/sp_pet_guide.png); background-repeat: no-repeat; background-size:auto 1.4rem;}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet01,
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet02,
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet03 {width:6rem; height:6rem; text-align:center; position:relative; border-radius:50%; background-image:none; padding:0; line-height:0; background-color:#f8f9fb;}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet01:before {display:inline-block; content:''; width:3.6rem; height:3.6rem; background-image:url(../img/charge_html/img_ic_pet01.png); background-repeat: no-repeat; background-size: auto 3.6rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet02:before {display:inline-block; content:''; width:3.6rem; height:3.6rem; background-image:url(../img/charge_html/img_ic_pet02.png); background-repeat: no-repeat; background-size: auto 3.6rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet03:before {display:inline-block; content:''; width:3.6rem; height:3.6rem; background-image:url(../img/charge_html/img_ic_pet03.png); background-repeat: no-repeat; background-size: auto 3.6rem; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%)}
.chargeinfo_wrap .pet_guide_step .sp_pet_guide.ic_pet_arr {width:1.4rem; height:1.4rem; background-image:url(../img/charge_html/img_arrow.png);}
.chargeinfo_wrap .box.type_pet_noti {padding:2rem 2rem; background-color:#f8f9fb; border-radius: 1.2rem;}
.chargeinfo_wrap .box.type_pet_noti h3 {font-size: 1.6rem; line-height: 2.3rem; color: #222;}
.chargeinfo_wrap .box.type_pet_noti strong {font-size: 1.6rem; line-height: 2.4rem; font-weight: 400; color: #222;}
.chargeinfo_wrap .box.type_pet_noti .txt_help {margin-top: 1.2rem;}
.chargeinfo_wrap .box.type_pet_noti .txt_help sup {color: #0966e9;}

/* 테이블 이미지(반려행복LTE) */
.chargeinfo_wrap .table_charge .th_img {padding:0;}
.chargeinfo_wrap .table_charge .td_img {padding:.5rem 0.25rem 1.5rem !important; border-top-width:0;}
.chargeinfo_wrap .table_charge .th_img img, .table_charge .td_img img {width:100%;}
.chargeinfo_wrap .table_charge .th_img figure {margin-bottom:1.5rem;}
.chargeinfo_wrap .table_charge .th_img figure figcaption, .table_charge .td_img figure figcaption {font-size: 1.4rem; line-height: 2.2rem; font-weight: 700;}

/* LTE워치 */
.chargeinfo_wrap .info.type_table .txt_help p {margin-top: 0; padding-left: 0; font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222; text-indent: 0;}
.chargeinfo_wrap .txt_help.type_num_em p:before {display: none;}
.chargeinfo_wrap .box.type_matter {margin-top:1.2rem !important; padding:2rem; background-color:#f7f9fa; border-radius:1rem;}
.chargeinfo_wrap .box.type_matter ul li { font-size: 1.4rem; line-height: 2.2rem; font-weight: 400; color: #222;}
.chargeinfo_wrap .box.type_matter ul li li {position: relative; padding-left:1rem; font-size:1.2rem; color: #717171;}
.chargeinfo_wrap .box.type_matter > ul > li + li{margin-top:1rem;}
.chargeinfo_wrap .box.type_matter ul ul{margin:0.5rem 0;}
.chargeinfo_wrap .box.type_matter ul li li:before {position: absolute; left: 0; content:"-"; display: inline-block; width:1rem;}
.chargeinfo_wrap .stitle_bar .box.type_matter strong{font-weight:400;}

.chargeinfo_wrap .txt_help.type_bullet {margin-top: 1.2rem;}
.chargeinfo_wrap .txt_help.type_bullet .bullet {margin-top: 1.2rem; font-size: 1.2rem !important; line-height: 1.9rem !important;}
.chargeinfo_wrap .txt_help.type_bullet .bullet::before {display: none;}
.chargeinfo_wrap .txt_help.type_bullet .bullet .t_color02 {color: #555 !important;}
.chargeinfo_wrap .info.type_notable .txt_help.type_bullet .bullet .t_color02 strong {color: #555 !important; font-weight: 400;} 

/* 골든라이프 X 배너 */
.chargeinfo_wrap .link_banner.golden {position:relative; margin-top: 3rem; width: 100%; height:0; padding:61.25% 0 0; background:transparent url(../img/charge_html/banner_golden.png) no-repeat; background-size:100% auto; box-shadow: none; border-radius: 0; overflow:hidden;}
.chargeinfo_wrap .link_banner.golden > *:not(a) {position:absolute; clip:rect(0 0 0 0); width:1px; height:1px; margin:-1px; padding:0; border:0; overflow:hidden; white-space:nowrap; }
.chargeinfo_wrap .link_banner.golden a {position:absolute; top:0; left:0; width:100%; height:100%; opacity:0;}


/* *** 요금제 이용안내 *** */
.user_info_conet {font-size:1.2rem; line-height:1.9rem; color:#555;}
.user_info_conet h3,
.user_info_conet h4 {font-size:1.4rem; font-weight:700; line-height:2.1rem; color:#222; margin-top:2rem;}
.user_info_conet .list > li:first-child h3,
.user_info_conet .list > li:first-child h4 {margin-top:0;}
.user_info_conet .list .dp_1_table {margin:0.5rem 0;}

    /* dp_1 */
.user_info_conet .dp_1 {margin-top: 0.8rem;}
.user_info_conet .dp_1 > li {position:relative; padding-left:1rem;}
.user_info_conet .dp_1 > li + li {margin-top:0.8rem;}
.user_info_conet .dp_1 > li::before {content:''; position:absolute; left:0; top:0.6rem; display:block; width:0.7rem; height:0.7rem; background:url(../img/common/icon_star_shape_gray_7.svg) center center no-repeat; background-size:100% auto;}
.user_info_conet .dp_1 > li > em {display: none;}

    /* dp_2 */
.user_info_conet .dp_2 {margin-top:0.8rem;}
.user_info_conet .dp_2 > li {position:relative; padding-left:1rem;}
.user_info_conet .dp_2 > li + li {margin-top:0.8rem;}
.user_info_conet .dp_2 > li:before {content:''; position:absolute; left:0; top:0.6rem; display:block; width:0.7rem; height:0.7rem; background:url(../img/common/icon_star_shape_gray_7.svg) center center no-repeat; background-size:100% auto;}
.user_info_conet .dp_2 > li > em {display: none;}

    /* dp_1 > dp_2 */
.user_info_conet .dp_1 .dp_2 {margin-top:0.8rem;}
.user_info_conet .dp_1 .dp_2 > li {position:relative; padding-left:1rem;}
.user_info_conet .dp_1 .dp_2 > li + li {margin-top:0.8rem;}
.user_info_conet .dp_1 .dp_2 > li:before {content:'-'; position:absolute; left:0; top:0; width:auto; height: auto; background:none;}
.user_info_conet .dp_1 .dp_2 > li > em {display: none;}

/* table */
.user_info_conet table th,
.user_info_conet table td {font-size: 1.2rem !important;}

/* .user_info_conet {margin-top: 3.2rem;}
.user_info_conet p {font-size:1.3rem;}
.user_info_conet h3,
.user_info_conet h4 {font-size:1.6rem; font-weight:700; line-height: 2.3rem; color:#222;}
.user_info_conet .txt_help ul li > em {position:relative;}

.user_info_conet .list[class*='type_'] {margin-bottom:1.8rem;}
.user_info_conet .list[class*='type_'],
.user_info_conet .list[class*='type_'] * {font-size: 1.2rem; line-height: 1.9rem; color: #555;}
.user_info_conet .list[class*='type_'] h3,
.user_info_conet .list[class*='type_'] h4 {font-size:1.6rem; font-weight:700; line-height: 2.3rem; color:#222;}
.user_info_conet .list[class*='type_'] ul + h3,
.user_info_conet .list[class*='type_'] ul + h4 {padding-top:1rem;}
.user_info_conet .list[class*='type_'] li {position:relative; padding-left:1.1rem; box-shadow:none; border-bottom:0; word-break:keep-all; margin-top: .8rem;}
.user_info_conet .list[class*='type_'] li:before {content:'*'; position:absolute; left:0; display:inline-block;}
.user_info_conet .list[class*='type_'] li a {display:inline-block; padding:0 0;}
.user_info_conet .list[class*='type_'] li li:before {content:'-'; top:0rem;}

.user_info_conet .list[class*='type_'] > li {padding-left:0;}
.user_info_conet .list[class*='type_'] > li:before {display:none;}
.user_info_conet .list[class*='type_'] .dp_1_table {margin:0.5rem 0;}

.user_info_conet .list.type_chargeinfo > li, 
.user_info_conet .list.type_chargeinfo > li > h3 {margin-top:2rem;}
.user_info_conet .list.type_chargeinfo .dp_2 {position: relative; margin-top: .8rem;}
.user_info_conet .list.type_chargeinfo .dp_2 > li:before {content:'-';}
.user_info_conet .list.type_chargeinfo .dp_1 > li:before {content: ''; position: absolute; left: 0; top: 0.6rem; display: block; width: 0.7rem; height: 0.7rem; background-image: url(../img/common/icon_star_shape_gray_7.svg); background-repeat: no-repeat; background-position: center; background-size: contain;}
.user_info_conet .list.type_chargeinfo .type_num > li:before {display:none;}
.user_info_conet .list.type_chargeinfo .type_num > li {padding-left:1.4rem;}
.user_info_conet .list.type_chargeinfo .txt_comm2 {margin-top:1.5rem; padding-top:1.5rem; border-top:1px solid #e9ebec; font-weight:700;}
.user_info_conet .list.type_chargeinfo + h3 {padding-top:2rem;}

.user_info_conet .dp_1 {margin-top: 1.2rem;}
.user_info_conet .dp_1 > li,
.user_info_conet .dp_1 .dp_2 > li {padding-left:1.2rem; position:relative;}
.user_info_conet .dp_1 > li > em {display: none;}
.user_info_conet .dp_1 .dp_2 > li {margin-top: 0; padding-left:.8rem; color: #555; font-size: 1.2rem; line-height: 1.9rem;}
.user_info_conet .dp_1 .dp_2 > li:before {content:'-'; position:absolute; left:0;} */






/* 부가서비스 에디터 */
.extra_detail .extra_service_info .tit_extra {margin-bottom: .4rem;}
.extra_detail .extra_service_info .add_hyphen_bl>li {position: relative;font-size: 1.4rem;padding-left: 1.2rem;margin-bottom: 1.2rem;}
.extra_detail .extra_service_info .add_hyphen_bl>li:after {content: '-';position: absolute; left: 0; top: 0;}
.extra_detail .extra_service_info .add_hyphen_bl>li:last-child {margin-bottom: 0;}
.extra_detail .extra_service_info .add_star_type>li {position:relative;list-style:none !important;padding-left: 1.0rem;color:#555;font-size:1.2rem;line-height:1.9rem;text-align:justify;}
.extra_detail .extra_service_info .add_star_type>li::before {content:''; position:absolute; left:0; top:0.6rem; display:block; width:0.7rem; height:0.7rem; background-image:url(../img/common/icon_star_shape_gray_7.svg); background-repeat:no-repeat; background-position:center; background-size:contain;}
.extra_detail .extra_service_info .add_num_type_bl>li {position: relative; font-size: 1.4rem; margin-bottom: 1.2rem; padding-left: 1.2rem;}
.extra_detail .extra_service_info .add_num_type_bl>li em {position: absolute; left: 0; top: 0.1rem; font-size: 1.2rem;}
.extra_detail .extra_service_info .add_num_type>li {color: #555; font-size: 1.2rem; margin-top: 0.4rem; position: relative; padding-left: 1.7rem; position:relative;}
.extra_detail .extra_service_info .add_num_type>li em {color:#555;font-size:1.2rem;position:absolute;left:0;top:0;}
/* .extra_detail .extra_service_info ul li>.add_star_type, 
.extra_detail .extra_service_info ul li>.add_num_type, 
.extra_detail .extra_service_info ul li>.add_num_type {margin-left: -1.2rem;} */
.extra_detail .extra_service_info .sec_mgt {margin-top: 1.2rem;}
.extra_detail .extra_service_info .sec_mgb {margin-bottom: 1.2rem;} 
.extra_detail .extra_service_info .extra_service_info>p {font-size:1.4rem;}

/* ul li>.add_star_type, ul li>.add_num_type, ul li>.add_num_type { margin-left: 0; } */
.add_star_type.ind, .add_num_type.ind, .add_num_type.ind {margin-left: -1.2rem !important;}
.pc_mark.hide { display:none; }


/* event common */
.evt .evt_cont {margin-top: 2.5rem;}
.evt .evt_cont:first-child {margin-top: 0;}
.evt .evt_cont .tit {font-size: 1.6rem; color: var(--gray_01, #222); line-height: 2.3rem; font-weight: 700;}
.evt .evt_cont .evt_cont_detail {margin-top: 0.8rem; font-size: 1.4rem; line-height: 2.2rem; color: #222; word-break: keep-all;}
.evt .evt_cont .txt_comm {display: inline-block; vertical-align: middle; font-size: 1rem; color: #0060e5; font-weight: bold; line-height: inherit; white-space: nowrap;}
.evt .evt_cont .txt_help {margin-top: 1.2rem;font-size: 1.4rem;line-height: 2.2rem;color: #222;}
.evt .evt_cont .txt_help > p {margin-top: 1.2rem;padding-left: 3rem;font-size:1.2rem;line-height:1.9rem;color: #555;text-align: left;position: relative;padding-left: 2.5rem !important;}
.evt .evt_cont .txt_help > p > em {position: absolute; left: 0;}
.evt .evt_cont .txt_help p + p{margin-top:0.8rem;}
.evt .evt_cont .txt_help p > .t_color03 {margin-right:.1rem; color:#0060E5; white-space:nowrap;}
.evt .evt_cont .txt_help p:before {display: none;}
.evt .evt_cont .txt_help > p[style*=padding] {padding-left: 2.3rem !important;}
.evt_terms {margin-top: 1.2rem;}
.evt_terms > p {font-weight: 700;}

/* event bull type list common */
.evt ul.bull_type.lg > li + li {margin-top: 0;}
    
/* event membership common */
.evt .membership_info .group {display: flex;}
.evt .membership_info .group .ico_wrap {display: flex;align-items: center;justify-content: center;}
.evt .membership_info .group .ico_wrap .ico_pic_ms {display: block; width: 4.0rem; height: 4.0rem; margin-right: 1.2rem; border-radius: 5.0rem; background-color: #f7f7f7;}
.evt .membership_info .group .ico_wrap .ico_pic_ms.comveni {background-image: url(/img/evt_membership_comveni.png);background-size: 2.2rem;background-repeat: no-repeat;background-position: center;}
.evt .membership_info .group .ico_wrap .ico_pic_ms.cafe {background-image: url(/img/evt_membership_cafe.png);background-size: 2.2rem;background-repeat: no-repeat;background-position: center;}
.evt .membership_info .group .ico_wrap .ico_pic_ms.bakery {background-image: url(/img/evt_membership_bakery.png);background-size: 2.2rem;background-repeat: no-repeat;background-position: center;}
.evt .membership_info .group .ico_wrap .ico_pic_ms.ott {background-image: url(/img/evt_membership_ott.png);background-size: 2.2rem;background-repeat: no-repeat;background-position: center;}
.evt .membership_info .group .ico_wrap .ico_pic_ms.rate {background-image: url(/img/evt_membership_rate.png);background-size: 2.2rem;background-repeat: no-repeat;background-position: center;}
.evt .membership_info .group .comm {width: calc(100% - 5.2rem);border-bottom: 1px solid #f3f3f3;padding: 1.6rem 0;}
.evt .membership_info .group .comm strong {color: #111;font-weight: 600;font-size: 1.4rem;}
.evt .membership_info .group .comm ul {margin-top: 0.8rem;}
.evt .membership_info .group .comm ul li {font-size: 1.2rem;margin-top: 0.4rem;}

/* event biz card common */
.event_detail_card {border: 1px solid #eaeced; border-radius: 1.2rem; padding: 2.5rem 2.0rem;}
.event_detail_card .event_detail_card_script {position: relative; margin-bottom: 2.4rem;}
.event_detail_card .event_detail_card_script i {position: absolute; left: 0;}
.event_detail_card .event_detail_card_script strong {padding-left: 9.5rem; display: block; font-size: 1.4rem; line-height: 2.2rem;}
.event_detail_card ul.event_detail_card_list > li {background-color: #fff5d4;border-radius: 1.2rem;margin-bottom: 1.4rem;padding: 1.4rem 1.4rem;}
.event_detail_card ul.event_detail_card_list > li:last-child {margin-bottom: 0;}
.event_detail_card ul.event_detail_card_list > li a {display: block;}
.event_detail_card ul.event_detail_card_list > li strong {display: inline-block;font-size: 1.4rem;line-height: 1.4rem;margin-bottom: 0.6rem;min-height: auto;}
.event_detail_card ul.event_detail_card_list > li strong.btn_text_go::after {width: 1.4rem;height: 1.4rem;top: 0.1rem;}
.event_detail_card ul.event_detail_card_list > li span {display: block;font-size: 1.2rem;line-height: 1.5rem;color: #555555;}

/* event type section (SKT 4종 이벤트) */
.evt .evt_cont .evt_type {background-color: #f8f9fb; padding: 1.2rem 1.5rem; position: relative; margin-bottom: 1.5rem;}
.evt .evt_cont .evt_type:after {content: '';width: 0.2rem;height: 100%;background-color: #4c34E2;position: absolute;top: 0;left: 0;}
.evt .evt_cont .evt_type > em {font-size: 1.3rem; font-weight: 700; line-height: 2.0rem;}
.evt .evt_cont .evt_type > p {font-size: 1.5rem;line-height: 2.0rem;font-weight: 700;}
    
/* event promotion plans Link */
.evt .evt_promotion .pro_box {margin: 0 0.6rem;margin-bottom: 1.2rem;border-radius: 1.3rem;box-shadow: 0 0 0.6rem 0.2rem rgba(0, 0, 0, 0.1);padding: 1.9rem;}
.evt .evt_promotion .pro_box h4 {height: 2.0rem; line-height: 2.1rem; background-color: #e5f2ff; color: #017fff; display: inline-block; border-radius: 5.0rem; font-size: 1.4rem; padding: 0 1.0rem; margin-bottom: 1.0rem; font-weight:400; }
.evt .evt_promotion .pro_box p {font-size: 1.4rem;}
.evt .evt_promotion .pro_box a {display: block;}
.evt .evt_promotion .pro_box .pro_tit {font-size: 1.6rem;font-weight: 600;margin-bottom: 0.6rem;letter-spacing:-0.1rem;}
.evt .evt_promotion .pro_box .pro_tit .sm {font-size: 1.4rem; font-weight:400;}
.evt .evt_promotion .pro_box .pro_tit span {font-size: 1.8rem; display: inline-block; position: relative;letter-spacing:-0.1rem;}
.evt .evt_promotion .pro_box .pro_tit span.type_kt:after {content: 'KT망';position: absolute;top: 0.05rem;right: -4.8rem;color: #888888;font-size: 1.4rem;font-weight: 400;display: block;}
.evt .evt_promotion .pro_box .pro_tit span.type_lg:after {content: 'LG U+망';position: absolute;top: 0.05rem;right: -6.6rem;color: #888888;font-size: 1.4rem;font-weight: 400;display: block;}
.evt .evt_promotion .pro_box .pro_tit span.type_skt:after {content: 'SKT망';position: absolute;top: 0.05rem;right: -5.2rem;color: #888888;font-size: 1.4rem;font-weight: 400;display: block;}
.evt .evt_promotion .pro_box .pro_tit span:before {content: '';position: absolute;right: -0.9rem;top: 0.4rem;width: 0.1rem;height: 1.3rem;background-color: #d5d5d5;}
.evt .evt_promotion .pro_box .pro_price {margin-top: 1.4rem; border-top: 0.1rem solid #f3f3f3; padding-top: 1.4rem; text-align: right;}
.evt .evt_promotion .pro_box .pro_price .price_sub {font-size: 1.4rem;/* margin-bottom: 0.6rem; */color: #888;}
.evt .evt_promotion .pro_box .pro_price .price_main {color: #f66f30;font-size: 1.4rem;margin-top: 0.5rem;}
.evt .evt_promotion .pro_box .pro_price .price_dc {font-size: 1.2rem;margin-top: 0.5rem;}
.evt .evt_promotion .pro_box .pro_price strong {font-size: 1.8rem;font-weight: 700;}
.evt .evt_promotion .pro_box.de_point h4 {color: #1a60ff;background-color: #e7efff;}
.evt .evt_promotion .pro_box.de_point .pro_price .price_main, .evt .evt_promotion .pro_box.de_point .col {color: #1a60ff;}
.evt .evt_promotion .pro_box.g_point h4 {color: #0087E5; background-color: #e6f5ff;}
.evt .evt_promotion .pro_box.g_point .pro_price .price_main, .evt .evt_promotion .pro_box.g_point .col {color: #0087E5;}
.evt .evt_promotion .pro_box.naver_point h4 {color: #00AD46;background-color: #e7faef;}
.evt .evt_promotion .pro_box.naver_point .pro_price .price_main, .evt .evt_promotion .pro_box.naver_point .col {color: #00AD46;}
.evt .evt_promotion .pro_box.baemin_point h4 {color: #00A2AC;background-color: #EAF9F8;}
.evt .evt_promotion .pro_box.baemin_point .pro_price .price_main, .evt .evt_promotion .pro_box.baemin_point .col {color: #00A2AC;}
.evt .evt_promotion .pro_box.watcha_point h4 {color: #E9003B;background-color: #feeaef;}
.evt .evt_promotion .pro_box.watcha_point .pro_price .price_main, .evt .evt_promotion .pro_box.watcha_point .col {color: #E9003B;}
.evt .evt_promotion .pro_box.lgu_point h4 {color: #ff3a4d;background-color: #ffebf0;}
.evt .evt_promotion .pro_box.lgu_point .pro_price .price_main, .evt .evt_promotion .pro_box.lgu_point .col {color: #DC3C63;}

/* event gray box banner */
.evt .evt_bg_banner {background-color: #F8F9FB; border-radius: 1.2rem; padding: 2.5rem;}
.evt .evt_bg_banner .tit {margin-bottom: 1.0rem; display:block;}
.evt .evt_bg_banner .evt_btn_wrap .outline {background-color: #fff;}
.evt .evt_bg_banner > p {font-size: 1.4rem;}
.evt .evt_bg_banner .bull_type.lg {margin-top: 0.5rem;}
.evt .evt_bg_banner .evt_btn_wrap {margin-top: 1.0rem; display: flex; justify-content: center;}
.evt .evt_bg_banner .evt_btn_wrap .btn {width: 14.6rem; font-size: 1.6rem; font-weight: 700;}

/* event mgm banner */
.evt .evt_mgm_banner {background-color: #f8f9fb;margin-top: .5rem;border-radius: 1.2rem;/* padding: 1.0rem 0 2.5rem; */}
.evt .evt_mgm_banner p {font-size: 1.4rem;text-align: center;margin-top: 1.0rem;line-height: 2.2rem;}
.evt .evt_mgm_banner i.img_item.visual.recommend {display: block;margin: 0 auto;width: 19.0rem;height: 8.3rem;}
.evt .evt_mgm_banner a {display: block; padding: 2.00rem 0 2.5rem;}

/* event liivm banner */
.evt .evt_liivm_banner {padding: 2.0rem 0; border-top: 1px solid #f3f4f3;}




/* **************** 고객지원(약관상세) **************** */
.terms {margin-top:3.2rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem;}
.terms .terms_main_tit {display:block; margin-top:3.2rem; color:var(--gray_01, #222); font-size:2rem; font-weight:bold; line-height:3rem;}
.terms .terms_sub_tit {display:block; margin-top:2rem; color:var(--gray_01, #222); font-size:1.6rem; font-weight:bold; line-height:2.3rem;}
.terms .terms_con, 
.terms .terms_con p {margin-top:0.8rem;}
.terms .terms_con ul {margin-top:0.8rem;}
.terms .terms_con ul > li {position:relative; padding-left:1.6rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem;}
.terms .terms_con ul > li + li {margin-top:0.8rem;}
.terms .terms_con ul > li > em {position:absolute; left:0; top:0; width:1.2rem; height:1.9rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem;}
.terms .terms_con ul > li .dp2 {margin-top: 0;}
.terms .terms_con ul > li .dp2 li {padding-left: 0; margin-top: 0;}
.terms .terms_con .dp3 {margin-top: 0; padding-left: 1.6rem;}
.terms .terms_con ul .list_sub2 {padding-left:1.6rem;}
.terms .table_tit,
.terms_s .terms_s_gr .tit {display:block; margin-top:2rem; color:var(--gray_01, #222); font-size:1.4rem; font-weight:bold; line-height:2.2rem;}
.terms_s .terms_s_gr .con {margin-top: .8rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem;}
/* table */
.terms_table {margin-top:1.2rem;}
.terms_table .table_con {margin-top: .8rem;}
.terms_table table .pd0 {padding-left:0; padding-right:0;}
.terms_table table .gray_02,
.terms_table table .ex {color:#555;}
.terms_table table .gray_04 {color:#999;}
.terms_table table .blue {color:#0966E9;}
.terms_table table .gray_sm {color:#555; font-size:1rem; font-weight:normal; line-height:1.4rem;}
.table_top_wrap {display:table; position:sticky; left:0; width:100%; margin-bottom:0.8rem;}
.table_top_wrap .col {display:table-cell; color:#555; font-size:1.2rem; line-height:1.7rem;}
.table_top_wrap .col_r {text-align:right;}
.terms_table sup {vertical-align:middle; font-size:1rem; font-weight:bold; line-height:inherit; white-space:nowrap;}
.terms_table sup.rt {margin-left:0.2rem; margin-right:-0.4rem;}
.terms_table .tbl_sup_wrap {line-height:1.4rem;}
.terms_table .tbl_sup_wrap .sup {line-height:1.4rem;}
.terms_table .tbl_sup_wrap .sup_des {color:#555; font-size:1rem; font-weight:normal; line-height:1.4rem;}
.terms_table ul.dash_list > li {padding-left:0.8rem; text-indent:-0.8rem;}
.terms_table ul.normal_type > li,
.terms_table ul.bull_type > li,
.terms_table ul.star_type > li, 
.terms_table ul.dash_type > li {text-align:left;}
/* basics */
.terms_table table th {padding:1.6rem 0.4rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:var(--bg_02, #F8F9FB); color:var(--gray_01, #222); font-size:1.4rem; font-weight:700; line-height:2.1rem; text-align:center !important; word-break:break-all;}
.terms_table table td {padding:1.6rem; border-bottom:1px solid var(--line_02, #D6D6D6); border-left:1px solid var(--line_02, #D6D6D6); border-right:1px solid var(--line_02, #D6D6D6); background-color:#fff; color:var(--gray_01, #222); font-size:1.2rem; font-weight:normal; line-height:1.9rem; word-break:break-word;}
.terms_table .center td {padding:1.6rem 0.4rem;}
.terms_table table tbody > th {background-color:var(--bg_02, #F8F9FB);}
.terms_table table thead + tbody th,
.terms_table table tfoot th {background-color:#fff; font-weight:normal;}
.terms_table table thead + tbody th {font-size:1.2rem; line-height:1.9rem;}
.terms_table table thead tr:first-of-type > th,
.terms_table table thead tr:first-of-type > td,
.terms_table table tbody tr:first-of-type > th,
.terms_table table tbody tr:first-of-type > td {border-top:1px solid var(--line_02, #D6D6D6);}
.terms_table table thead + tbody > tr:first-of-type > th,
.terms_table table thead + tbody > tr:first-of-type > td {border-top:none;}
.terms_table table th:first-of-type,
.terms_table table td:first-child {border-left:none;}
.terms_table table thead th:last-of-type,
.terms_table table td:last-child {border-right:none;}


/* **************** 고객지원(이용안내 상세) **************** */
.liivm_info {margin:3.2rem 0 0; font-size:1.4rem; color:#555; text-align:justify;}
.liivm_info h2 {display:inline-block; margin-top:3.2rem; margin-bottom:1.2rem; color:#222; font-size:1.6rem; line-height:2.3rem;}
.liivm_info h2:first-child {margin-top:0;}
.liivm_info h2 > span {padding-left:0.4rem;font-size:1.2rem; font-weight:normal;}
.liivm_info h3 {margin-top:2rem; margin-bottom:0.8rem; color:#222; font-size:1.4rem; font-weight:bold; line-height:2.1rem;}
.liivm_info h4 {margin-bottom:0.8rem; color:#222; font-size:1.4rem; font-weight:bold; line-height:2.1rem;}
.liivm_info p {font-size:1.4rem; line-height:2.2rem; color:#555; /*  word-break:keep-all; */}
.liivm_info img {border: 0;}
.liivm_info a {display:inline; font-weight:bold; text-decoration:underline; color:#0966e9; text-underline-offset:1px;}
.liivm_info p strong {color:#0966e9; font-weight:400;}
.liivm_info .extxt {color:#999;}
.liivm_info .extxt2 {color:#999;}
.liivm_info .txt_comm {padding-top:2rem; border-top:1px solid #f6f6f6; font-size:1.2rem;}
.liivm_info span.bullet_star {display:block;}
.liivm_info .bullet_star {position:relative; padding-left:1.1rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem; text-align:left; text-indent:0;}
.liivm_info .bullet_star::before {content:''; position:absolute; left:0; top:0.6rem; display:block; width:0.7rem; height:0.7rem; background-image:url(../img/common/icon_star_shape_gray_7.svg); background-repeat:no-repeat; background-position:center; background-size:contain;}
.liivm_info .bullet_star + .bullet_star {margin-top:0.8rem;}
.liivm_info .blind {position: absolute; clip: rect(0 0 0 0); width: 0; height: 0; margin: 0; overflow: hidden;}

.liivm_info table.table tbody th {color:#555; font-size:1.2rem; line-height:1.9rem;}
.liivm_info table.table tbody th strong {color:#222;}
.liivm_info table.table thead th .extxt {font-size:1.2rem; font-weight:400; color:#717171;}
.liivm_info table.table td {padding:1.6rem 0.4rem; text-align:center; color:#555;}
.liivm_info table.table td .extxt {display:block; font-size:1.1rem;}
.liivm_info table.table td .extxt.bullet_star {font-size:1.2rem;}
.liivm_info table.table td .extxt + strong {display:inline-block; margin-top:0.8rem;}
.liivm_info table.table td .extxt + .point {display:block; margin-top:0.8rem;}
.liivm_info table.table td strong.point + .extxt + .extxt.bullet_star {padding-left:0; color:#999; text-align:center;}
.liivm_info table.table td strong.point + .extxt + .extxt.bullet_star::before {display:none;}
.liivm_info table.table td .extxt2 {font-size:1.1rem;}
.liivm_info table.table td .extxt2 ~ .extxt.bullet_star {margin-top:0.4rem;}
.liivm_info table.table td .extxt2 ~ .extxt.bullet_star + .extxt.bullet_star {margin-top:0.8rem;}
.liivm_info table.table td .txt_comm2 {margin-top:0.8rem; padding-top:0;}
.liivm_info table.table td .txt_comm2::after {display:none;}
.liivm_info table.table .point {color:#0966e9;}
.liivm_info table.table td.point .extxt {color:#0966e9;}
.liivm_info table.table td.data {color:#ff3d00;}
.liivm_info table.table td.data2 {color:#0966e9;}

.liivm_info .cont_area {margin-bottom:3.2rem;}
.liivm_info .cont_area:last-child {margin-bottom:0;}
.liivm_info .cont_area p {margin-bottom:1.2rem;}
.liivm_info .cont_area p:last-child {margin-bottom:0;}
.liivm_info .cont_area .sub_gr {margin-bottom:2rem;}
.liivm_info .cont_area .sub_gr:last-child {margin-bottom: 0;}
/* .liivm_info .cont_area .sub_gr h3 {padding-top: 1.5rem;} */
.liivm_info .cont_area .txt_help > li {position:relative; padding-left:0.6rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem; text-align:justify; text-indent:0;}
.liivm_info .cont_area .txt_help > li::before {content:''; position:absolute; left:0; top:0.8rem; display:block; width:0.2rem; height:0.2rem; border-radius:50%; background-color:var(--gray_02, #555);}
.liivm_info .cont_area .txt_help > li + li {margin-top:0.8rem;}
.liivm_info .cont_area .txt_help > li a {color:var(--gray_02, #555); font-size:1.2rem; font-weight:normal; line-height:1.9rem;}
.liivm_info .cont_area .qa .qa_gr {margin-bottom:1.2rem;}
.liivm_info .cont_area .qa .qa_gr:last-child {margin-bottom:0;}
.liivm_info .cont_area .qa .qa_gr p {position:relative; padding-left:3rem;}
.liivm_info .cont_area .qa .qa_gr em {font-weight:700; position:absolute; left:0; top:0;}
.liivm_info .cont_area .qa .qa_gr .bd {margin-bottom:0.4rem; font-weight:700;}

.liivm_info figure {width:100%; margin:2rem 0;}
.liivm_info figure.img_box {text-align:center; background:#fff; overflow:hidden;}
/* .liivm_info figure.img_box.pd3 {padding:3rem;} */
.liivm_info figure.img_box img {max-width:683px;}
.liivm_info figure.img_box > img {max-width:100%;}
.liivm_info figcaption {font-size:1.2rem; color:#555; font-weight:400; margin-top:1.2rem;}

.link_gr {margin-top:2rem;}
.link_gr ul li {margin-bottom:1.2rem; position:relative; padding-left:1.1rem;}
.link_gr ul li::before {content:''; position: absolute; top:0.9rem; left:0; width:0.3rem; height:0.3rem; border-radius:50%; background-color:#0966e9;}
.link_gr ul li a {color:#0966e9; font-size:1.4rem; font-weight:700; line-height:2.2rem;}

#part3 div.txt_help {font-size:0; line-height:0;}
#part3 div.txt_help ul {margin-top:0.8rem;}
#part3 div.txt_help ul:first-of-type {margin-top:0;}
#part3 div.txt_help ul li {position:relative; padding-left:1.1rem; color:var(--gray_02, #555); font-size:1.2rem; line-height:1.9rem; text-align:justify; text-indent:0;}
#part3 div.txt_help ul li::after {content:''; position:absolute; left:0; top:0.6rem; display:block; width:0.7rem; height:0.7rem; background-image:url(../img/common/icon_star_shape_gray_7.svg); background-repeat:no-repeat; background-position:center; background-size:contain;}
#part3 div.txt_help ul li:first-of-type {margin-top:0;}
#part3 div.txt_help ul:nth-of-type(1) li::before {content:'아이폰 : ';}
#part3 div.txt_help ul:nth-of-type(2) li::before {content:'갤럭시 : ';}


/* **************** admin_form_sample **************** */
.form_item .btn_add {position:relative; align-self:center; width:2rem; height:2rem; margin:1.6rem 0 0 1.2rem; font-size:0; text-indent:-9999%; overflow:hidden;}
.form_item .btn_add::after {content:'+'; display:block; position:absolute; left:0; right:0; top:0; bottom:0; width:100%; height:100%; border-radius:50%; background-color:var(--gray_03); color:#fff; font-size:2rem; line-height:2rem; text-indent:0;}
.form_item .btn_del {position:relative; align-self:center; width:2rem; height:2rem; margin:1.6rem 0 0 1.2rem; font-size:0; text-indent:-9999%; overflow:hidden;}
.form_item .btn_del::after {content:'+'; display:block; position:absolute; left:0; right:0; top:0; bottom:0; width:100%; height:100%; transform:rotate(45deg); border-radius:50%; background-color:#222; color:#fff; font-size:2rem; line-height:2rem; text-indent:0;}