@charset "utf-8"; 

/* login ìž„ì‹œ */
.login_wrap {margin-top:7.6rem; }

/* ë³´ì•ˆ keypad */
/* .lysckeypadbox {position:fixed; top:inherit; left:0; right:0; bottom:0; height:auto; } */
.box_sckeypad_wrap {position:fixed; z-index:1; left:0; top:0; width:0%; height:0%; transition:width height 0s; }
.box_sckeypad_wrap.active {width:100%; height:100%; transition:width height 0; }
.box_sckeypad_wrap:after {content:''; display:block; z-index:1003; position:fixed; left:0; top:-100%; width:100%; height:100%; background-color:rgba(0,0,0,0.6); opacity:0; transition:opacity 0.8s; /* transition:top 0.9s; */}
.box_sckeypad_wrap.active:after {top:0; transition:top 0s; transition:opacity 0.5s;  opacity:1; }
.box_sckeypad_wrap .inner_keypad_wrap {position:fixed; z-index:1004; left:0; bottom:-100%; width:100%; height:100%; padding:30px 0px 20px 0px; box-sizing:border-box; background-color:var(--gray_08, #fff); border-radius:15px 15px 0 0; transition:bottom 0.7s; }
.box_sckeypad_wrap.active .inner_keypad_wrap {bottom:0; transition:bottom 0.5s; }

.keypad_wrap .login_sub_wrap {margin-top:2rem; }
.keypad_wrap .text_title {padding:0; margin:2rem 0 0 0; color:#ff2e00; font-size:12px; line-height:1.2; text-align:center; background:var(--gray_08, #fff); z-index:9; }
.keypad_wrap .text_title .form_error {display:inline-flex; opacity:0; }
.keypad_wrap .text_title .form_error::before {content:'!'; width:1.2rem; height:1.2rem; margin-right:.4rem; border-radius:1.2rem; background:#ff2E00; color:var(--gray_08, #fff); line-height:1.2rem; font-size:.8rem; font-weight:700; text-align:center; }
.keypad_wrap .text_title .form_error.on {opacity:1; }
.box_keyinput {display:inline-block; width:100%; height:auto; margin-top:32px; text-align:center; letter-spacing:-5px; }
.box_keyinput > input {position:absolute; left:0; top:0; visibility:hidden; }
.box_keyinput .keybox {position:relative; display:inline-block; width:20px; height:20px; text-align:center; }
.box_keyinput .keybox ~ .keybox {margin-left:24px; }    
.box_keyinput .keybox:after {content:''; display:inline-block; width:16px; height:16px; background-color:var(--gray_06, #d6d6d6); border-radius:20px; }
.box_keyinput .keybox.on:after {background-color:var(--main_01, #ffd338); }
.box_keyinput .dashbox {position:relative; display:inline-block; width:20px; height:20px; text-align:center; }
.box_sckeypad {display:flex; flex-direction:column; align-items:center; justify-content:center; position:absolute; width:100%; height:auto; margin-top:50px; margin-bottom:40px; letter-spacing:-6px; bottom:0; text-align:center; }
.box_sckeypad .btn_text.black {margin-bottom:2rem; letter-spacing:initial;}
.button_sckeypad {width:33.3%; height:54px; padding:0; margin:0; border:0; background-color:var(--gray_08, #fff); letter-spacing:0; vertical-align:top; font-size:25px; line-height:54px; color:#000; font-weight:700; }
.button_sckeypad:active {color:#145e6f; }
.button_sckeypad.key_reset, 
.button_sckeypad.key_delete {position:absolute; bottom:0; }
.button_sckeypad.key_reset {left:0; font-size:19px; }
.button_sckeypad.key_delete {right:0; font-size:28px; }
.button_sckeypad.key_delete {background:url(images/button_icon_delarrow.jpg) center center no-repeat; background-size:22px auto; font-size:0; }

.visual_box .btn_kb_auth {display:flex; flex-direction:column; justify-content:flex-end; align-items:center; width:16.4rem; height:16.4rem; margin:3.2rem auto 0; padding:2rem; border:1px solid var(--line_03, #eaeced); border-radius:1.2rem; background:url(../img/img/3d_auth.png) no-repeat top 2rem center / 6.4rem auto; }
.visual_box .btn_kb_auth span {display:block; color:var(--gray_02, #555); }
.btn .app {position:relative; padding-left:3.8rem; }
.btn .app::before {content:''; position:absolute; top:0; bottom:0; left:0; width:3rem; height:3rem; margin:auto; background:url(../img/img/icon_kb.png) no-repeat center center / 3rem auto; }
.sub_txt.login {margin-top:2rem; color:var(--gray_02, #555); font-size:1.6rem; text-align:center; line-height:2.4rem; }
.list_join {display:flex; justify-content:center; margin-top:2rem; }
.list_join li:not(:first-child) {position:relative; padding-left:1.7rem; }
.list_join li:not(:first-child):before {content:''; position:absolute; top:0; bottom:0; left:.8rem; width:.1rem; height:1.2rem; margin:auto 0; background-color:var(--gray_06, #d6d6d6); }
.list_join li .link {font-size:1.4rem; }
.list_join li.on {padding:0; }
.list_join li.on .link {text-decoration:underline; }
.list_join li.on:before {display:none; }

.list_login_others li {padding:1rem 0;}
.list_login_others li:first-child {padding-top:0;}
.list_login_others li:not(:last-child) {border-bottom:1px solid var(--line_04, #f6f6f6); }
.list_login_others li a {display:flex; align-items:center; position:relative; padding:1rem 2rem 1rem 2.8rem; font-size:1.6rem; line-height:2.4rem; color:var(--gray_01, #222);}
.list_login_others li a .badge {margin-left:.8rem; /*vertical-align:top;*/ }
.list_login_others li a.disabled {color:var(--gray_04, #999); cursor:initial; }
.list_login_others li a:before {content:''; position:absolute; top:50%; left:0; transform:translateY(-50%); width:2rem; height:2rem; background-repeat:no-repeat; background-position:center center; background-size:2rem 2rem; }
.list_login_others li a.item_kb:before {background-image:url(../img/img/mini_kb2.png); }
.list_login_others li a.item_pw:before {background-image:url(../img/img/mini_pw.png); }
.list_login_others li a.item_face:before {background-image:url(../img/img/mini_faceid.png); }
.list_login_others li a.item_pattern:before {background-image:url(../img/img/mini_pattern.png); }
.list_login_others li a.item_id:before {background-image:url(../img/img/mini_id.png); }
.list_login_others li a.item_phone:before {background-image:url(../img/img/mini_phone3.png); }

.login_bottom {display:flex; position:fixed; bottom:0; flex-direction:column; align-items:center; width:100%; padding:2rem 0 var(--sab_2); background-color:var(--gray_08, #fff); }
.login_bottom .btn_next {font-size:1.4rem; color:var(--gray_02, #555); text-decoration:underline; }
.login_bottom .list_sns {display:flex; height:4rem;}
.login_bottom .list_sns li .link {width:4rem; height:4rem; }
.login_bottom .list_sns li .link.kakao {background:url(../img/img/sns_kakao.png) no-repeat center center / 4rem auto; }
.login_bottom .list_sns li .link.naver {background:url(../img/img/sns_naver.png) no-repeat center center / 4rem auto; }
.login_bottom .list_sns li .link.apple {background:url(../img/img/sns_apple.png) no-repeat center center / 4rem auto; }
.login_bottom .list_sns li:not(:first-child) {margin-left:2rem; }
.login_bottom .link_others {position:relative; margin-top:2rem; padding-right:2rem; font-size:1.4rem; font-weight:700; }
.login_bottom .link_others:after {content:''; position:absolute; top:0; bottom:0; right:0; width:2rem; height:2rem; margin:auto; background:url(../img/common/spr_icon_20.png) no-repeat -16rem -4rem / 40rem auto; }
/* login bottom popup */
.ly_login {padding:var(--sab_1) !important;}

/* Mobile APP */
/* ì•„ì´ë”” ì°¾ê¸° ê²°ê³¼ */
.login_comp_wrap {height:100%; display:flex; flex-direction:column; justify-content:center; align-items:center;}
.login_comp_wrap > .icon_area {display:flex; justify-content:center; }
.login_comp_wrap > .icon_area .loading {display:flex; width:8rem; height:8rem; background:url(../img/common/loading.gif) no-repeat center center / cover;}
.login_comp_wrap .comp_txt {margin-top:2rem; color:var(--gray-01, #222); font-size:2rem; font-weight:bold; line-height:3rem; text-align:center; }
.login_comp_wrap .comp_txt.sm {font-size:1.6rem; line-height:2.3rem;}
.login_comp_wrap .comp_desc {margin-top:1.2rem; color:var(--gray-01, #222); font-size:1.4rem; line-height:2.2rem; text-align:center; word-break:keep-all;}
.id_find_wrap {padding:1.85rem 2rem; border-radius:1.2rem; background-color:var(--bg_02, #F8F9FB); color:var(--gray-01, #222); font-size:1.6rem; font-weight:bold; line-height:2.3rem; text-align:center; }

/* ì•„ì´ë”” ë¡œê·¸ì¸ */
.login_sub_wrap {margin-top:2rem; }
.login_sub_wrap .sub_form_group {display:flex; justify-content:center; }
.login_sub_wrap .sub_form_group + .list_join {margin-top:1.6rem; }

/* íœ´ëŒ€í°ë²ˆí˜¸ ë¡œê·¸ì¸ */
.list_join li:only-child .link {text-decoration:underline; text-underline-offset:0.4rem; }

/* ì•„ì´ë”” ì°¾ê¸° */
.btn.white {background-color:var(--gray_08, #fff); border:1px solid var(--line_03, #EAECED); }
.ly_cnt .pop_des {color:var(--gray_02, #555); font-size:1.4rem; line-height:2.2rem; }
.pop_img_wrap {display:flex; justify-content:center; }
.ly_cnt .pop_des + .pop_img_wrap {margin-top:2.8rem; }

/* [íŒì—…] ì¸ì¦ë°©ë²• - ì‹ ìš©ì¹´ë“œ */
.ly_cnt .txt_alert {color:var(--gray_02, #555); font-size:1.2rem; line-height:1.7rem;}
.ly_cnt .txt_alert.red {color:#FF2E00;}
.login_cert_wrap .btn_wrap {margin-top:2rem; }
.login_cert_wrap .cam_area .txt_alert {margin-top:0.8rem; }
.login_cert_wrap .select_area {margin-top:2rem; }
.login_cert_wrap .select_area .star_type {margin-top:2.4rem; }
.login_cert_wrap .form_area {margin-top:3.2rem; }
.login_cert_wrap .phone_area {margin-top:3.2rem; }
.login_cert_wrap .agree_area {margin-top:3.2rem; }
.login_cert_wrap .agree_area .check_sub_group {margin-bottom:0; }
.login_cert_wrap .install_wrap {display:flex; justify-content:space-between; align-items:center; margin-top:2.4rem; }
.login_cert_wrap .install_wrap p {word-break:keep-all; }
.login_cert_wrap .install_wrap .btn {white-space:nowrap; }

.login_cert_wrap .install_area {margin-top:3.2rem; }
.login_cert_wrap .install_wrap_type2 {display:flex; justify-content:space-between; }
.login_cert_wrap .install_wrap_type2 .install_inn {display:flex; align-items:center; }
.login_cert_wrap .install_wrap_type2 .install_inn .info_txt {padding-left:.8rem; color:var(--gray_01, #222); font-weight:700;}
.login_cert_wrap ul.num_type > li + li {margin-top:0; }


/* Mobile Web */
/* ë¡œê·¸ì¸ */
.login .tab_wrap.pw_tab {margin-top:2rem !important; }
.login .tab_wrap.pw_tab input[type=password]:focus {background-color:#ddd !important; }
.login .save_box {display:flex; justify-content:center; margin-top:1.2rem;}
.login .btn_wrap {margin-top:1.2rem; }
/* .select_list ul li {position:relative; padding:2rem 0; border-bottom:.1rem solid var(--line_04, #f6f6f6); }
.select_list ul li:first-child {padding-top:0; }
.select_list ul li:last-child {border:0; }
.select_list ul li .yel_label {display:inline-block; position:relative; margin-left:.8rem; font-size:1rem; line-height:2rem; text-align:center; width:3.5rem; height:2rem; background-color:var(--main_01, #ffd338); border-radius:5rem; vertical-align:middle; }
.select_list .img_item {margin-right:.8rem; vertical-align:middle; } */

/* ì´ˆê¸° ë¹„ë°€ë²ˆí˜¸ ìž¬ì„¤ì • */
/* .login .service_center_wrap {position:fixed; bottom:7.2rem; width:100%; padding:0 2rem; text-align:center; } */
.login .service_center_wrap {padding:0 var(--sar_2) 2rem var(--sal_2); text-align:center; }
.login .service_center {padding:2rem; background-color:var(--bg_02, #f8f9fb); border-radius:1.2rem; }
.login .service_center .center_tit {position:relative; }
.login .service_center .center_tit .center_tit_line {margin:1.2rem 0; border-bottom:.1rem solid var(--line_03, #eaeced); }
.login .service_center .center_tit .img_item {vertical-align:middle; }
.login .service_center .center_info span {display:block; font-size:1.2rem; line-height:1.7rem; }
.login .service_center .center_info .em_black {font-weight:bold; }
.login .service_center .center_info .em_blue {font-size:1.6rem; line-height:2.1rem; color:var(--main_02, #1065dc); font-weight:bold; }

.sns_fail {display:flex; justify-content:space-between; margin-top:1.2rem;}
.sns_fail li {width:calc(50% - .6rem);}
.sns_fail li a {width:100%; padding:2rem; border:1px solid var(--line_03, #eaeced); border-radius:1.2rem; text-align:center;}
.sns_fail li a strong {color:var(--gray_01, #222); font-size:1.6rem;}
.sns_fail li a .txt {margin-top:1.2rem; font-size:1.2rem; line-height:1.9rem;}