/* 공통 */
/* .tit_des {display:block; margin-bottom:0.8rem; color:var(--gray_02, #555); font-size:1.4rem; line-height:2.2rem;} */

/* content */
.item_select_wrap {display:flex; margin:2.8rem -0.8rem 0;}
.item_select_wrap .item_btn_wrap {display:flex; position:relative; width:calc(100% / 3); padding:0 2rem; overflow:hidden;}
.item_select_wrap .item_btn_wrap + .item_btn_wrap {border-left:1px solid #F6F6F6;}
.item_select_wrap .item_btn_wrap.couple {width:calc(100% - 10.1rem);}
.item_select_wrap .item_btn_wrap.couple .item_btn {width:50%;}
.item_select_wrap .item_btn_wrap .item_btn + .item_btn {position:relative;}
.item_select_wrap .item_btn_wrap .item_btn + .item_btn::before {content:''; display:block; position:absolute; top:5rem; bottom:2.3rem; left:0; width:1px; background-color:var(--line_02, #D6D6D6);}
.item_select_wrap .item_tit {display:block; text-align:center;}
.item_select_wrap .item_btn {flex:1; padding:1rem 0;}
.item_select_wrap .item_btn .icon {display:block; width:4rem; height:4rem; margin:0 auto 1.8rem;}

.item_btn_wrap .item_tit {color:var(--gray_01, #222); font-size:1.4rem; font-weight:bold; line-height:2.1rem;}
/* .item_btn_wrap .item_tit > em {margin-left:0.2rem; font-size:1.2rem; font-weight:normal;} */
.item_btn_wrap .item_btn:active {background-color:rgba(0,0,0,0.05);}
.item_btn_wrap .item_btn .btn_des {display:block; color:var(--gray_03, #717171); font-size:1.2rem; line-height:1.7rem;}

.item_call_wrap .item_btn_wrap {width:100%}
.item_call_wrap .item_btn_wrap + .item_btn_wrap {margin-top:1rem;}
.item_call_wrap .item_btn {display:flex; align-items:center; width:100%; padding:2rem; border-radius:1.2rem;}
.item_call_wrap .item_btn .icon {display:block; width:2rem; height:2rem; margin-right:0.4rem;}
.item_call_wrap .item_btn .btn_des {margin-left:0.2rem;}
.item_call_wrap .item_btn_wrap.couple {display:flex; padding:0 1rem; border-radius:1.2rem; background-color:var(--bg_02, #F8F9FB); overflow:hidden;}
.item_call_wrap .item_btn_wrap.couple .item_btn {position:relative; width:auto; padding:2rem 1rem; border-radius:0}
.item_call_wrap .item_btn_wrap.couple .item_btn + .item_btn::before {content:''; display:block; position:absolute; top:calc(50% - 0.6rem); left:0; width:1px; height:1.2rem; background-color:var(--line_02, #D6D6D6);}
.item_call_wrap .item_btn_wrap.couple .item_btn .icon {margin-right:0.8rem;}
.item_call_wrap .info_txt {margin-top:1rem; color:var(--gray_01, #222); font-size:1.4rem; line-height:2.2rem;}
.item_call_wrap .info_txt.rt {text-align:right;}
.item_call_wrap .info_txt > em {display:inline-block; margin-left:0.2rem; color:var(--gray_04, #999);}

.item_link_wrap .item_btn {display:flex; position:relative; align-items:center; padding:2rem 0; background-color:#fff;}
.item_link_wrap .item_btn:first-of-type {padding-top:0.8rem;}
.item_link_wrap .item_btn::after {content:''; display:block; position:absolute; top:calc(50% - 1rem); right:0; width:2rem; height:2rem; background:url(../img/support/icon_arrow_right_gray_20.png) no-repeat center / contain;}
.item_link_wrap .item_btn:first-of-type::after {top:0.9rem;}
.item_link_wrap .item_btn + .item_btn {border-top:1px solid var(--line_04, #F6F6F6);}
.item_link_wrap .item_btn .icon {display:block; width:2rem; height:2rem; margin-right:0.8rem;}
.item_link_wrap .item_btn .item_tit {font-weight:normal; line-height:2.2rem;}

.item_btn .icon.icon_chatbot {background:url(../img/support/icon_chatbot.png) no-repeat center / contain}
.item_btn .icon.icon_email {background:url(../img/support/icon_email.png) no-repeat center / contain}
.item_btn .icon.icon_call {background:url(../img/support/icon_call.png) no-repeat center / contain}
.item_btn .icon.icon_pay {background:url(../img/support/icon_pay.png) no-repeat center / contain}
.item_btn .icon.icon_call_20 {background:url(../img/support/icon_call_20.png) no-repeat center / contain}
.item_btn .icon.icon_kb_user {background:url(../img/support/icon_kb_user.png) no-repeat center / contain}
.item_btn .icon.icon_kb_no_user {background:url(../img/support/icon_kb_no_user.png) no-repeat center / contain}

.row_list .list_item {display:flex; justify-content:space-between;}
.row_list .list_item + .list_item {margin-top:2.2rem;}
.row_list .list_item .item_lt {display:flex; align-items:center;}
.row_list .list_item .icon {display:block; width:2rem; height:2rem; margin-right:0.8rem;}
.row_list .list_item .icon.icon_deal {background:url(../img/support/icon_deal.png) no-repeat center / contain}
.row_list .list_item .icon.icon_real_time {background:url(../img/support/icon_real_time.png) no-repeat center / contain}
.row_list .list_item .item_tit {color:var(--gray_01, #222); font-size:1.4rem; line-height:2.2rem;}
.row_list .list_item .item_txt {color:var(--gray_01, #222); font-size:1.4rem; line-height:2.2rem;}
.row_list .list_item .item_txt > em {display:inline-block; margin-left:0.2rem; color:var(--gray_04, #999);}

/* 공지사항(게시판형태) 리스트 */
.board_list_wrap {margin-top:0.8rem;}
.board_list .list_item + .list_item {border-top:1px solid var(--line_04, #F6F6F6);}
.board_list.btm_line .list_item:last-child {border-bottom:1px solid var(--line_04, #F6F6F6);}
.board_list .list_item > a {display:block; position:relative; padding:2.4rem 2rem 2.4rem 0;}
.board_list .list_tit {display:-webkit-box; color:var(--gray_01, #222); font-size:1.4rem; font-weight:bold; line-height:2.1rem; word-break:keep-all; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden; text-overflow:ellipsis;}
.board_list .list_date {display:block; margin-top:0.4rem; color:var(--gray_03, #717171); font-size:1.2rem; line-height:1.9rem;}
.board_list .icon {display:block; position:absolute; top:calc(50% - 1rem); right:0; width:2rem; height:2rem}
.board_list .icon.icon_btn_right {background:url(../img/support/icon_arrow_right_gray_20.png) no-repeat center / contain;}
.board_list .icon.icon_play {top:calc(50% - 1rem); width:2rem; height:2rem; background-image:url(../img/common/spr_icon_20.png); background-repeat:no-repeat; background-size:40rem; background-position:-34rem -1rem;}
.board_list .list_item .btn_blue {color: #0966e9 !important;}
.board_list .list_item.type2 {display: flex; align-items: center; justify-content: space-between; padding: 2.4rem 0;}
.board_list .list_item.type2:first-child {padding-top: 0;}
.board_list .list_item.type2 a {padding: 0 2.4rem;}
.board_list .list_item.type2 .list_left a {padding: 0;}
.board_list .list_item.type2 .list_right {font-size: 1.4rem; font-weight: 400; color: #717171;}
.board_list.type2 .list_tit {font-size: 1.6rem;}
.board_list.type2 .list_item.type2 .btn_text {margin-top: .6rem;}

/* 공지사항(게시판형태) 상세 */
.board_wrap .board_tit_wrap .tit_inner {padding:1.6rem 0 2.4rem;}
.board_wrap .board_tit_wrap .board_tit {display:block; color:var(--gray_01, #222); font-size:2rem; font-weight:bold; line-height:3rem;}
.board_wrap .board_tit_wrap .board_date {display:block; margin-top:0.8rem; color:var(--gray_03, #717171); font-size:1.2rem; line-height:1.9rem;}
.board_wrap .board_cont_wrap {border-top:1px solid var(--line_04, #F6F6F6); color:var(--gray_02, #555); font-size:1.4rem; line-height:2.2rem;}
.board_wrap .board_cont_wrap.notice {color:var(--gray_01, #222);}
.board_wrap .board_cont_wrap .cont_inner {padding:3.2rem 0;}
.board_wrap .board_cont_wrap .cont_tit {display:block; margin-bottom:0.8rem; color:var(--gray_01, #222); font-weight:bold; line-height:2.1rem;}
.board_wrap .board_cont_wrap .cont_tit ~ .cont_tit {margin-top:3.2rem;}
.board_wrap .board_cont_wrap .cont_inner .blue {color:var(--main_02, #1065DC);}
/* .board_wrap .board_cont_wrap .cont_inner p + p {margin-top:2rem;} */
.board_wrap .file_btn_wrap .btn_download {display:block; position:relative; padding-left:2.8rem; color:var(--gray_01, #222); font-size:1.4rem; line-height:2.2rem;}
.board_wrap .file_btn_wrap .btn_download + .btn_download {margin-top:0.8rem;}
.board_wrap .file_btn_wrap .btn_download .icon {display:block; position:absolute; top:0.1rem; left:0; width:2rem; height:2rem}
.board_wrap .file_btn_wrap .btn_download .icon.icon_file_down {background-image:url(../img/common/spr_icon_20.png); background-repeat:no-repeat; background-size:40rem auto; background-position:-13rem -7rem;}

/* 자주 찾는 질문 */
.qna_acco_wrap {margin-top:1.2rem;}
.qna_acco_wrap .list_acc > li > .title {position:relative; padding-left:2rem;}
.qna_acco_wrap .title i.question {position:absolute; top:50%; left:0; transform:translateY(-50%); color:#0966E9; font-style:normal;}
.qna_acco_wrap .qna_acco_cont {position:relative; padding-left:2rem;}
.qna_acco_wrap .qna_acco_cont i.answer {position:absolute; top:0; left:0; color:#222; font-size:1.4rem; font-weight:bold; font-style:normal; line-height:2rem;}
.qna_acco_wrap .qna_acco_cont .file_btn_wrap {margin-top:1.2rem;}

/* Liiv M 이용안내 */
.icon_info_wrap {display:flex; align-items:center; width:100%; padding:1.3rem 2rem; border-radius:1.2rem; background-color:var(--bg_02, #F8F9FB);}
.icon_info_wrap .icon {display:block; width:2.4rem; height:2.4rem; margin-right:1.2rem;}
.icon_info_wrap .icon.icon_video {background:url(../img/support/icon_video.png) no-repeat center / contain;}
.icon_info_wrap .info_txt {display:block; color:var(--gray_03, #717171); font-size:1.2rem; line-height:1.9rem;}

/* 고객후기 */
.review_percent_wrap {padding:0 2.3rem 0 1.3rem;border-radius:1.2rem; background-color:var(--bg_02, #F8F9FB);}
.review_percent_wrap .percent_list {display:flex; justify-content:space-between; max-width:32rem; margin:0 auto; padding:2.2rem 0}
.percent_list .list_item {position:relative; flex:1; max-width:8.4rem; padding-left:4.8rem;}
.percent_list .list_item .icon {display:block; position:absolute; top:0; left:0; width:4rem; height:4rem; border-radius:50%; background-color:#fff; background-repeat:no-repeat; background-position:center; background-size:2rem;}
.percent_list .list_item .icon.icon_heart {background-image:url(../img/img/mini_heart.png);}
.percent_list .list_item .icon.icon_star {background-image:url(../img/img/mini_star2.png);}
.percent_list .list_item .icon.icon_face {background-image:url(../img/img/mini_face.png);}
.percent_list .list_item .item_tit {display:block; color:var(--gray_04, #999); font-size:1.2rem; line-height:1.9rem;}
.percent_list .list_item .item_percent {display:flex; align-items:flex-end; margin-top:0.3rem; color:var(--gray_01, #222); font-size:2rem; font-weight:bold; line-height:2.1rem;}
.percent_list .list_item .item_percent > em {display:block; margin-left:0.2rem; font-size:1.2rem; line-height:1.4rem;}
.btn.icon_btn {display:flex; justify-content:center; align-items:center;}
.btn.icon_btn .icon {display:block; width:2rem; height:2rem; margin-right:0.4rem;}
.icon.write {background-image:url(../../img/common/spr_icon_20.png); background-repeat:no-repeat; background-size:40rem auto; background-position:-19rem -1rem;}

/* review_head */
.review_head_group {display:flex; align-items:center; justify-content:space-between;}
/* .review_head_group .select_sort {position:relative; flex:0 0 calc(100% - 11.8rem);}
.review_head_group .select_sort::after {content:''; display:block; position:absolute; top:calc(50% - 1rem); right:1.5rem; width:2rem; height:2rem; background:url(../../img/common/spr_icon_20.png) no-repeat -1rem -4rem / 40rem auto}
.review_head_group .select_sort select {height:4rem; border:1px solid #EAECED; border-radius:0.8rem; font-size:1.2rem; font-weight:bold; color:#222; padding:0 3.5rem 0 1.5rem; background:none;} */
.review_head_group .btn {flex:0 0 11rem; max-width:11rem; height:4rem; border-radius:0.8rem; color:#222; font-size:1.2rem; font-weight:700; line-height:3.8rem;}

.review_list_wrap .review_list > li {position:relative; padding:2.8rem 0;}
.review_list_wrap .review_list > li > a {display:block; position:absolute; left:0; right:0; top:0; bottom:0;}
.review_list > li + li {border-top:1px solid var(--line_04, #F6F6F6);}
.review_list .item_tit_wrap {position:relative;}
.review_list .item_tit_wrap .item_edit_wrap {display:flex; position:absolute; top:0; right:0;}
.review_list .item_edit_wrap [class*="btn_"] {display:block; width:2rem; height:2rem;}
.review_list .item_edit_wrap [class*="btn_"] + [class*="btn_"] {margin-left:1.2rem;}
.review_list .item_edit_wrap .btn_edit {background-image:url(../img/common/spr_icon_20.png); background-repeat:no-repeat; background-size:40rem auto; background-position:-19rem -1rem;}
.review_list .item_edit_wrap .btn_delete {background-image:url(../img/common/spr_icon_20.png); background-repeat:no-repeat; background-size:40rem auto; background-position:-22rem -1rem;}
.review_list .item_tit {color:var(--gray_01, #222); font-size:1.4rem; font-weight:bold; line-height:2.1rem;}
.review_list .item_writer_info {display:flex; margin-top:0.4rem;}
.review_list .item_writer_info > span {display:block; color:var(--gray_04, #999); font-size:1.2rem; line-height:1.7rem;}
.review_list .item_writer_info > span + span {position:relative; margin-left:1.7rem;}
.review_list .item_writer_info > span + span::before {content:''; display:block; position:absolute; top:0.35rem; left:-0.8rem; width:1px; height:1rem; background-color:var(--line_02, #D6D6D6);}

.review_list .item_cont_wrap {margin-top:1.6rem;}
.review_list .item_cont_wrap .txt_wrap {display:flex; position:relative; max-height:7.6rem; color:var(--gray_01, #222); font-size:1.2rem; line-height:1.9rem;}
.review_list .item_cont_wrap .thumb {width:6rem; height:6rem; margin-right:1.2rem;}
.review_list .item_cont_wrap .thumb a {position:relative; display:block; width:100%; height:100%; overflow:hidden;}
.review_list .item_cont_wrap .thumb img {width:100%; height:100%;}
.review_list .item_cont_wrap .txt_wrap > p {flex:1; overflow-y:scroll;}
.review_list .grade_wrap {margin-top:1.6rem; border-radius:0.8rem; background-color:var(--bg_02, #F8F9FB);}
.review_list .grade_list {display:flex; align-items:center; padding:0.8rem 0;}
.review_list .grade_list > li {display:flex; justify-content:center; align-items:center; flex-grow:1;}
.review_list .grade_list > li + li {position:relative;}
.review_list .grade_list > li + li::before {content:''; display:block; position:absolute; top:calc(50% - 0.7rem); left:-0.5px; width:1px; height:1.4rem; background-color:#F6F6F6;}
.review_list .grade_list .grade_tit {color:var(--gray_03, #717171); font-size:1.2rem; line-height:2rem; letter-spacing:0;}
.review_list .grade_list .icon {display:block; width:1.3rem; height:1.3rem;}
.review_list .grade_list .icon.icon_star {margin-left:0.8rem; background:url(../img/support/icon_star_13.png) no-repeat center -0.1rem / contain;}
.review_list .grade_list .grade_num {margin-left:0.4rem; color:var(--gray_01, #222); font-size:1.2rem; font-weight:bold; line-height:2rem; letter-spacing:0;}

/* 요금제 카드 */
/* .card_item {position:relative; padding:1.9rem 1.9rem 1.5rem; border-radius:1.2rem; border:1px solid #EAECED;} */
.grade_input_wrap {margin-top:1.2rem;}
.grade_input_wrap .grade_list > li {display:flex; justify-content:space-between; padding:1.6rem 0;}
.grade_input_wrap .grade_list > li + li {border-top:1px solid var(--line_04, #F6F6F6);}
.grade_input_wrap .grade_tit {display:flex; color:var(--gray_01, #222); font-size:1.4rem; line-height:2rem;}
.grade_input_wrap .grade_tit .icon {display:block; width:2rem; height:2rem; margin-right:0.4rem; background-repeat:no-repeat; background-position:center; background-size:contain;}
.grade_input_wrap .icon.icon_heart {background-image:url(../img/support/icon_heart_sm.png);}
.grade_input_wrap .icon.icon_star {background-image:url(../img/img/mini_star2.png);}
.grade_input_wrap .icon.icon_face {background-image:url(../img/img/mini_face.png);}
.grade_input_wrap .grade_points {display:flex;}
.grade_input_wrap .grade_points .star {display:block; width:2.4rem; height:2.4rem; background-repeat:no-repeat; background-size:contain; background-position:center; background-image:url(../img/support/icon_star_24.png);}
.grade_input_wrap .grade_points .star.on {background-image:url(../img/support/icon_star_24_on.png);}










/* ***** 통합검색 ***** */

.search_tit {display:flex; justify-content:space-between; align-items:center; margin-bottom:2rem;}
.search_tit h3 {font-weight:400; font-size:1.4rem; color:#999;}
.search_tit .del {font-size:1.2rem; line-height:2rem; color:#0966e9;}
.search_tit .dat {font-size:1.2rem; line-height:2rem; color:#999;}

/* 키워드 */
.search_keyword li:not(:first-of-type) {margin-top:2rem;}
.search_keyword li button {position:relative; display:block; width:100%; padding-left:3.6rem; font-size:1.4rem; line-height:2.2rem; color:#222; text-align:left;}
.search_keyword li button::before {content:''; position:absolute; top:0.1rem; left:0; width:2rem; height:2rem; background:url(/img/img/icon_search.png) no-repeat center / 100% auto; opacity:0.3;}

/* 최근검색어 */
.search_recent ul {padding:0 2rem; margin:0 -2rem; font-size:0; overflow:hidden; overflow-x:auto; white-space:nowrap;}
.search_recent ul::-webkit-scrollbar {display:none;}
.search_recent ul::-webkit-scrollbar-thumb {display:none;}
.search_recent li {position:relative; display:inline-block; margin-right:0.4rem;}
.search_recent li button:not(.del) {height:3.2rem; padding:0 3.4rem 0 1.6rem; border-radius:1.6rem; background-color:#f8f9fb; font-size:1.2rem; line-height:1.5rem; color:#555;}
.search_recent li button.del {position:absolute; top:0; right:0; width:2.8rem; height:3.2rem;}
.search_recent li button.del::before {content:''; position:absolute; top:1rem; right:1.6rem; width:1.2rem; height:1.2rem; background:url(/img/img/icon_close12.png) no-repeat center / 100% auto; opacity:0.3;}

/* 인기검색어 */
.search_popular .search_tit .dat {display:none;}
.search_popular ol {column-count:2;}
.search_popular li {counter-increment:popular_number 1;}
.search_popular li:not(:first-of-type) {margin-top:2rem;}
.search_popular li button {position:relative; display:block; width:100%; padding-left:2.4rem; font-weight:700; font-size:1.4rem; line-height:2.2rem; text-align:left; color:#222;}
.search_popular li button::before {content:counter(popular_number); position:absolute; left:0; color:#0966e9;}

/* 검색 결과 */
.search_rTitle {padding:3.2rem var(--sar_2) 0 var(--sal_2); font-size:2rem; line-height:3.8rem;}

.search_result_wrap .tab_wrap.line {padding:0 2rem;}
.search_result_wrap .tab_wrap.line .tab_panel {margin-left:-2rem; margin-right:-2rem;}
.search_result_wrap .tab_wrap.line .tab_panel .section {margin:3.2rem 2rem 0;}

.search_result_wrap .filter_list::after {width:6.2rem;}
.search_result_wrap .filter_list > .btn_acc {right:2rem;}
.search_result_wrap .filter_list ul {padding-left:var(--sal_2);}
.search_result_wrap .filter_list ul::after {flex:0 0 6.2rem;}

.search_result_wrap .btn_wrap_more {padding-top:2rem; border-top:1px solid #f6f6f6;}

.search_rList > ul > li > a {display:block; padding:2.4rem 0; border-bottom:1px solid #f6f6f6; word-break:keep-all;}
.search_rList > ul > li:first-of-type > a {padding-top:0;}
.search_rList > ul > li:last-of-type > a {padding-bottom:0; border-bottom:none;}
.search_rList > ul em {font-weight:inherit; color:#0966e9;}
.search_rList .rTit {font-weight:700; font-size:1.4rem; line-height:2.1rem; color:#222;}
.search_rList .rTit .badge {margin-left:0.4rem;}
.search_rList .rTex,
.search_rList .rDat {margin-top:0.4rem; font-size:1.2rem; line-height:1.9rem; color:#555; display:-webkit-box; -webkit-line-clamp:2; -webkit-box-orient:vertical; overflow:hidden;}

.search_rList02 > ul > li > a {display:block; padding:1rem 0; font-size:1.4rem; line-height:2.2rem; color:#222; word-break:keep-all;}
.search_rList02 > ul > li:first-of-type > a {padding-top:0;}
.search_rList02 > ul > li:last-of-type > a {padding-bottom:0;}
.search_rList02 > ul em {font-weight:inherit; color:#0966e9;}

/* search Scroll */
.searchScroll.on.section.mgt0 {height:6.1rem;}
.searchScroll.on.section.mgt0 .form_group {position:fixed; left:0; right:0; padding:0 2rem 2rem 2rem; background-color:#fff; z-index:5;}
.searchScroll.on.tab_wrap.line {padding-top:3.2rem;}
.searchScroll.on.tab_wrap.line .tab_list {position:fixed; left:0; right:0; padding:3.2rem 2rem 0; margin-top:-6.4rem; background-color:#fff; z-index:5;}
/* .searchScroll.on.search_rTitle {position:fixed; left:0; right:0; margin-top:-3.2rem; border-bottom:1px solid #d6d6d6; background-color:#fff; z-index:5;} */

/* [CSAD01]	KB Liiv M 앱다운로드 */
.content_slide_wrap {height:100%; overflow:hidden;}
.app_down_slide {position:relative; width:100%; height:100%;}
.app_down_slide .slide_content {position:relative; height:100%; padding:0 2rem; background-color:#F0F3F7;}
.app_down_slide .slide_content .bg_wrap {position:absolute; width:100%; left:0; right:0; top:18.3rem; bottom:5.2rem; margin-top:1rem; margin-bottom:calc(var(--sab) + 2rem); background-repeat:no-repeat; background-size:contain; background-position:center center;}
.app_down_slide .slide1 {background:url(../img/support/img_app_down_bg_01.svg) no-repeat center bottom / cover;}
.app_down_slide .slide1 .bg_wrap {top:0; left:0; right:0; bottom:0; margin:0; background-image:url(../img/support/img_app_down_01.png); background-color:transparent; background-size:100% auto; background-position:center bottom;}
.app_down_slide .slide2 .bg_wrap {background-image:url(../img/support/img_app_down_02.png);}
.app_down_slide .slide3 .bg_wrap {background-image:url(../img/support/img_app_down_03.png);}
.app_down_slide .slide4 .bg_wrap {background-image:url(../img/support/img_app_down_04.png);}
.app_down_slide .slide5 .bg_wrap {background-image:url(../img/support/img_app_down_05.png);}
.app_down_slide .tit_slide_wrap {position:absolute; left:0; right:0; top:0; margin-top:6rem; padding:2rem 2rem 0; z-index:30;}
.app_down_slide .tit_slide_wrap .tit_slide {font-size:2.6rem; font-weight:bold; line-height:3.8rem;}
.app_down_slide .tit_slide_wrap .tit_des {display:block; margin-bottom:0.8rem; font-size:1.2rem; font-weight:bold; line-height:1.9rem;}
.app_down_slide .tit_slide_wrap .tit_des.blue {color:#0966E9;}
.app_down_slide .tit_slide_wrap.main {padding-top:0;}
.app_down_slide .tit_slide_wrap.main .tit_slide {padding:4.8rem 0 2rem; font-size:2.4rem; font-weight:normal; line-height:3.6rem; text-align:center;}
.app_down_slide .tit_slide_wrap.main .tit_slide strong {font-weight:bold;}
.app_down_slide .pagination.hide {display:none;}
.app_down_slide .pagination {position:absolute; top:50%; right:0; padding:0 2rem; z-index:10;}
.app_down_slide .pagination .swiper-pagination-bullet {width:0.8rem; height:0.8rem; margin:0.8rem 0; border:0; background-color:#DADADA; opacity:1;}
.app_down_slide .pagination .swiper-pagination-bullet-active {background-color:#FFD338;}
.btn_app_down {padding:0 3.2rem; border-radius:4.7rem; background-color:#FFD338; color:#222; font-size:1.6rem; font-weight:bold; line-height:4.7rem; letter-spacing:-0.04rem; z-index:20;}
.slide1 .btn_app_down {position:absolute; display:block; top:17.6rem; height:4.7rem; left:50%; transform:translateX(-50%); margin:0 auto;}
.app_down_slide .scroll_down {position:absolute; left:50%; transform:translateX(-50%); bottom:2rem; width:4.3rem; height:3.9rem; background:url(../img/support/img_scroll_down_01.png) no-repeat center / contain;}
.app_down_slide .slide_content .btm_btn_wrap {position:absolute; left:0; right:0; bottom:0; padding:0 2rem calc(var(--sab) + 2rem);}
.app_down_slide .slide_content .btm_btn_wrap > .btn {width:100%;}
@media screen and (min-width:768px) {
    .app_down_slide .slide_content {padding:0 7.4rem;}
    .app_down_slide .slide_content .bg_wrap {top:25rem; bottom:11rem; margin-top:2.7rem; background-size:auto 100%; background-position:center;}
    .app_down_slide .slide1 {background:url(../img/support/img_app_down_bg_02.svg) no-repeat center bottom / cover;}
    .app_down_slide .slide1 .bg_wrap {top:0; left:0; right:0; bottom:0; margin:0; background-image:url(../img/support/img_app_down_01_tablet1.png); background-size:100% auto; background-position:center bottom;}
    .app_down_slide .slide2 .bg_wrap {background-image:url(../img/support/img_app_down_02_tablet1.png);}
    .app_down_slide .slide3 .bg_wrap {background-image:url(../img/support/img_app_down_03_tablet1.png);}
    .app_down_slide .slide4 .bg_wrap {background-image:url(../img/support/img_app_down_04_tablet1.png);}
    .app_down_slide .slide5 .bg_wrap {background-image:url(../img/support/img_app_down_05_tablet1.png);}
    .app_down_slide .tit_slide_wrap {margin-top:9rem; padding:0 7.4rem;}
    .app_down_slide .tit_slide_wrap.main .tit_slide {padding:5.9rem 0 3.9rem; font-size:4.9rem; line-height:7.3rem;}
    .slide1 .btn_app_down {top:31.7rem; height:9.4rem; padding:0 6.8rem; border-radius:9.4rem; font-size:3rem; line-height:9.4rem;}
    .app_down_slide .slide_content .btm_btn_wrap > .btn {height:11rem; padding:3.8rem 1rem; font-size:2.8rem; line-height:1.2;}
    .app_down_slide .tit_slide_wrap .tit_des {margin-bottom:1.4rem; font-size:2rem; line-height:2rem;}
    .app_down_slide .tit_slide_wrap .tit_slide {font-size:4.2rem; line-height:6.3rem;}
    .app_down_slide .pagination {padding:0 4rem;}
    .app_down_slide .pagination .swiper-pagination-bullet {width:1.2rem; height:1.2rem; margin:1.2rem 0;}
    .app_down_slide .scroll_down {bottom:4rem; width:5.8rem; height:6rem; background:url(../img/support/img_scroll_down_02.png) no-repeat center / contain;}
}
@media (orientation: landscape) {
    .app_down_slide .slide_content .bg_wrap {left:50%; top:0; bottom:0; right:0; width:auto; margin:6.4rem 16% 6.4rem -2rem; background-size:contain; background-position:center;}
    .app_down_slide .slide1 .bg_wrap {top:0; left:0; right:0; bottom:0; margin:0; background-image:url(../img/support/img_app_down_01_tablet1.png); background-size:100% auto; background-position:center bottom;}
}
@media screen and (min-width:1025px) {
    .app_down_slide .slide_content .bg_wrap {left:50%; top:0; bottom:0; right:0; width:auto; margin:6.4rem 16% 6.4rem -2rem; background-size:contain; background-position:center;}
    .app_down_slide .slide1 {background:url(../img/support/img_app_down_bg_03.svg) no-repeat center bottom / cover;}
    .app_down_slide .slide1 .bg_wrap {top:0; left:0; right:0; bottom:0; margin:0; background-image:url(../img/support/img_app_down_01_tablet2.png); background-size:100% auto; background-position:center bottom;}
    .app_down_slide .slide2 .bg_wrap {background-image:url(../img/support/img_app_down_02_tablet2.png);}
    .app_down_slide .slide3 .bg_wrap {background-image:url(../img/support/img_app_down_03_tablet2.png);}
    .app_down_slide .slide4 .bg_wrap {background-image:url(../img/support/img_app_down_04_tablet2.png);}
    .app_down_slide .slide5 .bg_wrap {background-image:url(../img/support/img_app_down_05_tablet2.png);}
    .app_down_slide .tit_slide_wrap.main {top:0; transform:translateY(0); margin:10rem 0 0; padding:0 11.8rem;}
    .app_down_slide .tit_slide_wrap {top:50%; transform:translateY(-50%); margin:0 auto; padding:0 16% 11rem;}
    .app_down_slide .tit_slide_wrap.main .tit_slide {padding:3.4rem 0; font-size:4.2rem; line-height:6.4rem; text-align:left;}
    .app_down_slide .tit_slide_wrap .tit_slide {padding:0 1rem; font-size:4.6rem; line-height:7.2rem;}
    .app_down_slide .tit_slide_wrap .tit_des {padding:0 1rem; font-size:2.2rem;}
    .slide1 .btn_app_down {top:26rem; transform:translateX(0); left:11.8rem; height:8rem; margin:0; padding:0 5.6rem; border-radius:8rem; font-size:2.8rem; line-height:8rem;}
}