@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;700&family=Noto+Sans+KR:wght@400;700&display=swap');

html {/*scroll-behavior: smooth;*/ font-size:10px;}
body {font-family: 'Fira Code', 'Noto Sans KR', sans-serif; font-size:1.6rem; line-height: 1; letter-spacing:-0.045rem;}
input {font-family: inherit;}
::selection {background:#FFD338;}

#wrap {margin-left:13rem; padding:2rem;}
header {position:fixed; left:0; top:0; width:13rem; height:100%; color:#fff; background:#6E6053; box-sizing:border-box; padding:2rem; overflow-x:hidden; overflow-y:scroll;}
header h1 {font-weight:700;}

nav {margin:4rem 0 0;}
nav ul li + li {margin-top:1.2rem;}
nav ul li a {display:block; font-size:1.4rem; opacity:0.5; translate:all .3s;}
nav ul li.on a{opacity:1}

.ttl_group {display:flex; align-items:center; justify-content: space-between; gap:1rem; background:#8e76601c; padding:1.5rem; margin:0 0 2rem;}
.ttl_group h2 {color:#222; font-weight:700;}
.ttl_group h2 + span {font-size:1.2rem; color:#888;}
.ttl_group .more {cursor:pointer; margin-left:auto;}
.ttl_group .more::before {content:''; display:block; width:1rem; height:1rem; border-width:0 1px 1px 0; border-style:solid; border-color:#222; transform:rotate(45deg) translateX(-50%);}
.off .ttl_group .more::before {transform: rotate(225deg) translateY(-50%)}

.ttl_sub {margin:4rem 0 2rem; padding:1rem; background:#f9f9f9; border-bottom:1px solid #ddd;}
.ttl_sub h3 {font-size:1.2rem; color:#888; font-weight:700;}

code {position:fixed; right:0; bottom:0; background:#6E6053; z-index:2;}
code input{display: block; width:40rem; text-align:center; background:transparent; border:0 none; color:#FFD338; font-size:1.4rem; font-weight:700; padding:1.5rem 2rem;}

#container > section {margin:5rem 0;}
#container > section:nth-of-type(1) {margin-top:0}
#container > section .content{display:flex;}
#container > section.off {margin:2rem 0;}
#container > section.off + a + section {margin-top:2rem;}
#container > section.off .content, #container > section.off .ttl_sub{display:none;}
.content {display:flex; align-items:center; justify-content: flex-start; flex-wrap:wrap; gap:2rem;}
.content + .content {margin:2rem 0 0;}
.content li{position:relative; flex:0 0 30rem; display:flex; align-items:center; justify-content:center; height:20rem; text-align:center; border:1px solid #ddd; padding-bottom:1.5rem; box-shadow:0 0 0 0 rgba(0,0,0, 0); transition:box-shadow .3s;}
.content li:hover {box-shadow:0 0.2rem 1.5rem 0 rgba(0,0,0, .15);}
.content li .caption {position:absolute; left:0; bottom:0; width:100%; display:block; font-size:1.2rem; padding:0 0 1.5rem; box-sizing:border-box;}
.content li .caption input {width: 100%; background:transparent; border:0 none; text-align:center; padding:0; margin:0; font-size:1.2rem; letter-spacing:-0.095rem;}






/* **** img_item **** */
.img_item {display:inline-block; background-size:100% auto; background-repeat:no-repeat; background-position:50% 50%;}
.img_item.disabled {filter:grayscale(1); opacity:0.5;}

/* **** img_item > visual **** */
.img_item.visual.data {width:10.8rem; height:10.4rem; background-image:url(../img/img/visual_graph.png);}
.img_item.visual.usim {width:15.7rem; height:8.2rem; background-image:url(../img/img/visual_usim.png);}
.img_item.visual.guard{width:16.7rem; height:12.1rem; background-image:url(../img/img/visual_guard.png);}
.img_item.visual.wallet{width:16.9rem; height:13rem; background-image:url(../img/img/visual_wallet.png);}
.img_item.visual.security{width:13.4rem; height:14rem; background-image:url(../img/img/visual_security.png);}
.img_item.visual.safe{width:11.73rem; height:14rem; background-image:url(../img/img/visual_safe.png);}
.img_item.visual.flex{width:11.2rem; height:9.6rem; background-image:url(../img/img/visual_flex.png);}
.img_item.visual.money{width:13.733rem; height:8.437rem; background-image:url(../img/img/visual_money.png);}

/* **** img_item > charactor **** */
.img_item.char.bibi_love{width:4rem; height:4rem; background-image: url(../img/img/char_bibi_love.png);}
.img_item.char.bibi_heart{width:8.959rem; height:8.706rem; background-image: url(../img/img/char_bibi_heart.png);}
.img_item.char.bibi_hi{width:5rem; height:5rem; background-image: url(../img/img/char_bibi_hi.png);}
.img_item.char.bibi_stand{width:6.5rem; height:7.4rem; background-image: url(../img/img/char_bibi_stand.png);}
.img_item.char.bibi_stand2{width:6rem; height:5.5rem; background-image: url(../img/img/char_bibi_stand2.png);}

.img_item.char.lolo_sweat{width: 7.8rem; height: 13rem; background-image: url(../img/img/char_lolo_sweat.png);}
.img_item.char.lolo_kb{width: 28rem; height:9.9rem; background-image: url(../img/img/char_lolo_kb.png);}
.img_item.char.lolo_flex{width:11.1rem; height:6.363rem; background-image: url(../img/img/char_lolo_flex.png);}
.img_item.char.lolo_heart{width:5.6rem; height:4.8rem; background-image: url(../img/img/char_lolo_heart.png);}
.img_item.char.lolo_help{width:19rem; height:4.8rem; background-image: url(../img/img/char_lolo_help.png);}

.img_item.char.luna_stand{width:4.892rem; height:9.2rem; background-image:url(../img/img/char_luna_stand.png);}
.img_item.char.luna_this{width:5.715rem; height:7.56rem; background-image:url(../img/img/char_luna_this.png);}
.img_item.char.luna_hi{width:5.1rem; height:7rem; background-image:url(../img/img/char_luna_hi.png);}

.img_item.char.pos_sad{width:14.9rem; height:8rem; background-image:url(../img/img/char_pos_sad.png);}
.img_item.char.pos_q{width:6.529rem; height:5.33rem; background-image:url(../img/img/char_pos_q.png);}
.img_item.char.pos_qlg{width:6.8rem; height:6.4rem; background-image:url(../img/img/char_pos_qlg.png);}
.img_item.char.pos_flex{width:11.6rem; height:9.571rem; background-image:url(../img/img/char_pos_flex.png);}

.img_item.char.mel_run{width:2.86rem; height:3.4rem; background-image:url(../img/img/char_mel_run.png);}

/* **** img_item > 3d icon **** */
#three .content li {flex:0 0 14rem; height:14rem;}
.img_item.three {width:6.4rem; height:6.4rem;}
.img_item.three.sm {width:4.8rem; height:4.8rem;}
.img_item.three.move{background-image: url(../img/img/3d_move.png);}
.img_item.three.fanfare{background-image: url(../img/img/3d_fanfare.png);}
.img_item.three.usim{background-image: url(../img/img/3d_usim.png);}
.img_item.three.esim{background-image: url(../img/img/3d_esim.png);}
.img_item.three.nousim{background-image: url(../img/img/3d_nousim.png);}
.img_item.three.yusim{background-image: url(../img/img/3d_yusim.png);}
.img_item.three.person{background-image: url(../img/img/3d_person.png);}
.img_item.three.business{background-image: url(../img/img/3d_business.png);}
.img_item.three.family{width:7.2rem; height:5.3rem; background-image: url(../img/img/3d_family.png);}
.img_item.three.auth{background-image: url(../img/img/3d_auth.png);}
.img_item.three.credit{background-image: url(../img/img/3d_credit.png);}
.img_item.three.sms{background-image: url(../img/img/3d_sms.png);}
.img_item.three.security{width:5.4rem; height:6.5rem; background-image: url(../img/img/3d_security.png);}
.img_item.three.email{background-image: url(../img/img/3d_email.png);}
.img_item.three.email2{background-image: url(../img/img/3d_email2.png);}
.img_item.three.emailtime{background-image: url(../img/img/3d_emailtime.png);}
.img_item.three.account{background-image: url(../img/img/3d_account.png);}
.img_item.three.home{background-image: url(../img/img/3d_home.png);}
.img_item.three.homex{background-image: url(../img/img/3d_homex.png);}
.img_item.three.search{width:4rem; height:3.8rem; background-image: url(../img/img/3d_search.png);}
.img_item.three.present{width:4.8rem; height:4.4rem; background-image: url(../img/img/3d_present.png);}
.img_item.three.cost{width:3.3rem; height:4.1rem; background-image: url(../img/img/3d_cost.png);}
.img_item.three.coin{width:4.3rem; height:3.8rem; background-image: url(../img/img/3d_coin.png);}
.img_item.three.call{width:4.722rem; height:4.9rem; background-image: url(../img/img/3d_call.png);}
.img_item.three.wifi{width:3.605rem; height:4.3rem; background-image: url(../img/img/3d_wifi.png);}
.img_item.three.coupon{width:4.3rem; height:4.3rem; background-image: url(../img/img/3d_coupon.png);}
.img_item.three.benefit{width:3.9rem; height:3.9rem; background-image: url(../img/img/3d_benefit.png);}
.img_item.three.club{width:3.28rem; height:3.28rem; background-image: url(../img/img/3d_club.png);}
.img_item.three.loc{width:2.4rem; height:2.4rem; background-image: url(../img/img/3d_loc.png);}
.img_item.three.handcoin{width:5.3rem; height:5.5rem; background-image: url(../img/img/3d_handcoin.png);}
    .img_item.three.handcoin.sm{width:3.8rem; height:3.7rem;}
.img_item.three.faq{width:5.8rem; height:5.1rem; background-image: url(../img/img/3d_faq.png);}
    .img_item.three.faq.sm{width:4.2rem; height:3.8rem;}

/* **** img_item > line icon **** */
#line .content li {flex: 0 0 14rem; height:14rem;}
.img_item.line.join{width: 4.2rem; height: 4.2rem; background-image: url(../img/img/line_join.png);}
.img_item.line.cost{width: 4.2rem; height: 4.2rem; background-image: url(../img/img/line_cost.png);}
.img_item.line.set{width: 4.2rem; height: 4.2rem; background-image: url(../img/img/line_set.png);}
.img_item.line.join{width: 4.2rem; height: 4.2rem; background-image: url(../img/img/line_join.png);}
.img_item.line.time{width: 4.2rem; height: 4.2rem; background-image: url(../img/img/line_time.png);}
.img_item.line.notice{width: 3.2rem; height: 3.6rem; background-image: url(../img/img/line_notice.png);}
.img_item.line.gift{width: 3.3rem; height: 3.457rem; background-image: url(../img/img/line_gift.png);}
.img_item.line.grade{width: 3.4rem; height: 4rem; background-image: url(../img/img/line_grade.png);}
.img_item.line.coupon{width: 3.4rem; height: 4rem; background-image: url(../img/img/line_coupon.png);}
.img_item.line.coin{width: 5.209rem; height: 3.6rem; background-image: url(../img/img/line_coin.png);}
.img_item.line.pin{width: 2.696rem; height:3.048rem; background-image: url(../img/img/line_pin.png);}

/* **** img_item > mini icon **** */
#mini .content li {flex:0 0 14rem; height:14rem;}
.img_item.mini {width:2rem; height:2rem;}
.img_item.mini.sm {width:1.3rem; height:1.3rem;}
.img_item.mini.coin2{background-image: url(../img/img/mini_coin2.png);}
.img_item.mini.gift{background-image: url(../img/img/mini_gift.png);}
.img_item.mini.service{background-image: url(../img/img/mini_service.png);}
.img_item.mini.wifi{background-image: url(../img/img/mini_wifi.png);}
.img_item.mini.note{background-image: url(../img/img/mini_note.png);}
.img_item.mini.doc{background-image: url(../img/img/mini_doc.png);}
.img_item.mini.coin{background-image: url(../img/img/mini_coin.png);}
.img_item.mini.bill{background-image: url(../img/img/mini_bill.png);}
.img_item.mini.usim{background-image: url(../img/img/mini_usim.png);}
.img_item.mini.write{background-image: url(../img/img/mini_write.png);}
.img_item.mini.doc2{background-image: url(../img/img/mini_doc2.png);}
.img_item.mini.box{background-image: url(../img/img/mini_box.png);}
.img_item.mini.done{background-image: url(../img/img/mini_done.png);}
.img_item.mini.card{background-image: url(../img/img/mini_card.png);}
.img_item.mini.coin3{background-image: url(../img/img/mini_coin3.png);}
.img_item.mini.call{background-image: url(../img/img/mini_call.png);}
.img_item.mini.call2{background-image: url(../img/img/mini_call2.png);}
.img_item.mini.sms{background-image: url(../img/img/mini_sms.png);}
.img_item.mini.data{background-image: url(../img/img/mini_data.png);}
.img_item.mini.kb{background-image: url(../img/img/mini_kb.png);}
.img_item.mini.kbgray{background-image: url(../img/img/mini_kbgray.png);}
.img_item.mini.kb2{background-image: url(../img/img/mini_kb2.png);}
.img_item.mini.play{background-image: url(../img/img/mini_play.png);}
.img_item.mini.heart{background-image: url(../img/img/mini_heart.png);}
.img_item.mini.heart2{background-image: url(../img/img/mini_heart2.png);}
.img_item.mini.heart3{background-image: url(../img/img/mini_heart3.png);}

.img_item.mini.star{background-image: url(../img/img/mini_star.png);}
.img_item.mini.star26{width:2.6rem; height:2.6rem; background-image: url(../img/img/mini_star.png);}

.img_item.mini.smile{background-image: url(../img/img/mini_smile.png);}
.img_item.mini.smile2{background-image: url(../img/img/mini_smile2.png);}
.img_item.mini.flight{background-image: url(../img/img/mini_flight.png);}
.img_item.mini.phone{background-image: url(../img/img/mini_phone.png);}
.img_item.mini.phone2{background-image: url(../img/img/mini_phone2.png);}
.img_item.mini.phone3{background-image: url(../img/img/mini_phone3.png);}
.img_item.mini.date{background-image: url(../img/img/mini_date.png);}
.img_item.mini.pw{background-image: url(../img/img/mini_pw.png);}
.img_item.mini.faceid{background-image: url(../img/img/mini_faceid.png);}
.img_item.mini.pattern{background-image: url(../img/img/mini_pattern.png);}
.img_item.mini.id{background-image: url(../img/img/mini_id.png);}
.img_item.mini.cut{background-image: url(../img/img/mini_cut.png);}

/* **** img_item > flat icon **** */
#flat .content li {flex:0 0 14rem; height:14rem;}
.img_item.flat {width:2.8rem; height:2.8rem;}
/* .img_item.flat.sm {width:1.3rem; height:1.3rem;} */
.img_item.flat.warning{background-image: url(../img/img/flat_warning.png);}
.img_item.flat.idcard{background-image: url(../img/img/flat_idcard.png);}
.img_item.flat.phone{background-image: url(../img/img/flat_phone.png);}
.img_item.flat.phone2{background-image: url(../img/img/flat_phone2.png);}
.img_item.flat.warning2{background-image: url(../img/img/flat_warning2.png);}
.img_item.flat.lock{background-image: url(../img/img/flat_lock.png);}

.img_item.flat.play{width:2.4rem; height:2.4rem; background-image: url(../img/img/flat_play.png);}
.img_item.flat.star{width:2.4rem; height:2.4rem; background-image: url(../img/img/flat_star.png);}
.img_item.flat.star_on{width:2.4rem; height:2.4rem; background-image: url(../img/img/flat_star_on.png);}
.img_item.flat.heart{width:4.125rem; height:4rem; background-image: url(../img/img/flat_heart.png);}
.img_item.flat.data{width:3.2rem; height:3.2rem; background-image: url(../img/img/flat_data.png);}
.img_item.flat.data2{width:3.2rem; height:3.2rem; background-image: url(../img/img/flat_data2.png);}
.img_item.flat.phone3{width:6rem; height:6rem; background-image: url(../img/img/flat_phone3.png);}

.img_item.flat.email{width:4rem; height:4rem; background-image: url(../img/img/flat_email.png);}
.img_item.flat.chat{width:4rem; height:4rem; background-image: url(../img/img/flat_chat.png);}
.img_item.flat.call{width:4rem; height:4rem; background-image: url(../img/img/flat_call.png);}
.img_item.flat.gift{width:4rem; height:4rem; background-image: url(../img/img/flat_gift.png);}
.img_item.flat.coupon{width:4rem; height:4rem; background-image: url(../img/img/flat_coupon.png);}
.img_item.flat.grade{width:4rem; height:4rem; background-image: url(../img/img/flat_grade.png);}
.img_item.flat.money{width:4rem; height:4rem; background-image: url(../img/img/flat_money.png);}

/* **** img_item > icon **** */
#icon .content li {flex:0 0 14rem; height: 14rem;}
.img_item.icon.search{width:2rem; height:2rem; background-image: url(../img/img/icon_search.png);}
.img_item.icon.calendar{width:2rem; height:2rem; background-image: url(../img/img/icon_calendar.png);}
.img_item.icon.add{width:1.3rem; height:1.3rem; background-image: url(../img/img/icon_add.png);}
.img_item.icon.more{width:3.2rem; height:3.2rem; background-image: url(../img/img/icon_more.png);}
.img_item.icon.camera{width:2rem; height:2rem; background-image: url(../img/img/icon_camera.png);}
.img_item.icon.doc{width:2rem; height:2rem; background-image: url(../img/img/icon_doc.png);}
.img_item.icon.download{width:2rem; height:2rem; background-image: url(../img/img/icon_download.png);}
.img_item.icon.download2{width:1.6rem; height:1.6rem; background-image: url(../img/img/icon_download2.png);}
.img_item.icon.filter{width:2rem; height:2rem; background-image: url(../img/img/icon_filter.png);}
.img_item.icon.write{width:2rem; height:2rem; background-image: url(../img/img/icon_write.png);}
.img_item.icon.delete{width:2rem; height:2rem; background-image: url(../img/img/icon_delete.png);}

.img_item.icon.select{width:2rem; height:2rem; background-image: url(../img/img/icon_select.png);}
.img_item.icon.select12{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_select.png);}
.img_item.icon.select_close{width:2rem; height:2rem; background-image: url(../img/img/icon_select_close.png);}

.img_item.icon.open{width:2rem; height:2rem; background-image: url(../img/img/icon_open.png);}
.img_item.icon.open12{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_open.png);}
.img_item.icon.close{width:2rem; height:2rem; background-image: url(../img/img/icon_close.png);}
.img_item.icon.open2{width:2.4rem; height:2.4rem; background-image: url(../img/img/icon_open2.png);}
.img_item.icon.close2{width:2.4rem; height:2.4rem; background-image: url(../img/img/icon_close2.png);}
.img_item.icon.open3{width:3.2rem; height:3.2rem; background-image: url(../img/img/icon_open3.png);}
.img_item.icon.close3{width:3.2rem; height:3.2rem; background-image: url(../img/img/icon_close3.png);}
.img_item.icon.open4{width:2rem; height:2rem; background-image: url(../img/img/icon_open4.png);}
.img_item.icon.close4{width:2rem; height:2rem; background-image: url(../img/img/icon_close4.png);}
.img_item.icon.open5{width:2rem; height:2rem; background-image: url(../img/img/icon_open5.png);}
.img_item.icon.close5{width:2rem; height:2rem; background-image: url(../img/img/icon_close5.png);}

.img_item.icon.right{width:2rem; height:2rem; background-image: url(../img/img/icon_right.png);}
.img_item.icon.right.sm{width:1.2rem; height:1.2rem;}
.img_item.icon.right_black{width:2rem; height:2rem; background-image: url(../img/img/icon_right_black.png);}
.img_item.icon.right_black.sm{width:1.2rem; height:1.2rem;}
.img_item.icon.right_blue{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_right_blue.png);}

.img_item.icon.close_w{width:2rem; height:2rem; background-image: url(../img/img/icon_close_w.png);}
.img_item.icon.close24_w{width:2.4rem; height:2.4rem; background-image: url(../img/img/icon_close24_w.png);}
.img_item.icon.prev_w{width:2rem; height:2rem; background-image: url(../img/img/icon_prev_w.png);}
.img_item.icon.next_w{width:2rem; height:2rem; background-image: url(../img/img/icon_next_w.png);}
.img_item.icon.data{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_data.png);}
.img_item.icon.tel{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_tel.png);}
.img_item.icon.text{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_text.png);}
.img_item.icon.data2{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_data2.png);}
.img_item.icon.tel2{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_tel2.png);}
.img_item.icon.text2{width:1.2rem; height:1.2rem; background-image: url(../img/img/icon_text2.png);}
.img_item.icon.location{width:2.3rem; height:2.3rem; background-image: url(../img/img/icon_location.png);}
.img_item.icon.kb{width:3rem; height:3rem; background-image: url(../img/img/icon_kb.png);}

.img_item.icon.icon1{width:3.97rem; height:3.738rem; background-image: url(../img/img/icon_icon1.png);}
.img_item.icon.icon2{width:3.97rem; height:3.738rem; background-image: url(../img/img/icon_icon2.png);}
.img_item.icon.icon3{width:3.97rem; height:3.738rem; background-image: url(../img/img/icon_icon3.png);}

/* **** img_item > bullet **** */
#bullet .content li {flex:0 0 14rem; height: 14rem;}
.img_item.bullet.star{width:0.7rem; height:0.7rem; background-image: url(../img/img/bullet_star.png);}
.img_item.bullet.star_blue{width:0.7rem; height:0.7rem; background-image: url(../img/img/bullet_star_blue.png);}
.img_item.bullet.error{width:1.2rem; height:1.2rem; background-image: url(../img/img/bullet_error.png);}
.img_item.bullet.note{width:1.2rem; height:1.2rem; background-image: url(../img/img/bullet_note.png);}

/* **** img_item > bank **** */
#bank .content li {flex:0 0 14rem; height:14rem;}
.img_item.bank {width:4rem; height:4rem;}
.img_item.bank.kb{background-image: url(../img/img/bank_kb.png);}
.img_item.bank.shinhan{background-image: url(../img/img/bank_shinhan.png);}
.img_item.bank.woori{background-image: url(../img/img/bank_woori.png);}
.img_item.bank.hana{background-image: url(../img/img/bank_hana.png);}
.img_item.bank.ibk{background-image: url(../img/img/bank_ibk.png);}
.img_item.bank.nh{background-image: url(../img/img/bank_nh.png);}
.img_item.bank.nh2{background-image: url(../img/img/bank_nh2.png);}
.img_item.bank.kakao{background-image: url(../img/img/bank_kakao.png);}
.img_item.bank.toss{background-image: url(../img/img/bank_toss.png);}

/* **** img_item > card **** */
#card .content li {flex:0 0 14rem; height:14rem;}
.img_item.card {width:3.6rem; height:4.8rem;}
.img_item.card.kb{background-image: url(../img/img/card_kb.png);}
.img_item.card.shinhan{background-image: url(../img/img/card_shinhan.png);}
.img_item.card.hyundai{background-image: url(../img/img/card_hyundai.png);}
.img_item.card.lotte{background-image: url(../img/img/card_lotte.png);}
.img_item.card.bc{background-image: url(../img/img/card_bc.png);}
.img_item.card.woori{background-image: url(../img/img/card_woori.png);}
.img_item.card.ibk{background-image: url(../img/img/card_ibk.png);}
.img_item.card.hana{background-image: url(../img/img/card_hana.png);}
.img_item.card.toss{background-image: url(../img/img/card_toss.png);}

/* **** img_item > sns **** */
#sns .content li {flex:0 0 14rem; height:14rem;}
.img_item.sns {width:4rem; height:4rem;}
.img_item.sns.kakao{background-image: url(../img/img/sns_kakao.png);}
.img_item.sns.naver{background-image: url(../img/img/sns_naver.png);}
.img_item.sns.apple{background-image: url(../img/img/sns_apple.png);}

/* **** img_item > partner **** */
#partner .content li {flex:0 0 14rem; height:14rem;}
.img_item.partner {width:5.4rem; height:5.4rem;}
.img_item.partner.kb_sec{background-image: url(../img/img/partner_kb_sec.png);}
.img_item.partner.kb_life{background-image: url(../img/img/partner_kb_life.png);}
.img_item.partner.kb_insure{background-image: url(../img/img/partner_kb_insure.png);}
.img_item.partner.kb_capital{background-image: url(../img/img/partner_kb_capital.png);}
.img_item.partner.kb_card{background-image: url(../img/img/partner_kb_card.png);}

/* **** img_item > etc **** */
.img_item.etc.usim01{width:18rem; height:21.742rem; background-image: url(../img/img/etc_usim01.png);}
.img_item.etc.usim02{width:18rem; height:21.703rem; background-image: url(../img/img/etc_usim02.png);}
.img_item.etc.usim03{width:18rem; height:21.703rem; background-image: url(../img/img/etc_usim03.png);}

.img_item.etc.card_id{width:12.1rem; height:7.1rem; background-image: url(../img/img/etc_card_id.png);}
.img_item.etc.card_driver{width:12.1rem; height:7.1rem; background-image: url(../img/img/etc_card_driver.png);}

.img_item.etc.card{width:19.1rem; height:11.9rem; background-image: url(../img/img/etc_card.png);}

.img_item.data.intro1{width:27.6rem; height:9.5rem; background-image: url(../img/img/data_intro1.png);}
.img_item.data.intro2{width:28.6rem; height:8.8rem; background-image: url(../img/img/data_intro2.png);}

.img_item.etc.tv{width:8.4rem; height:6.5rem; background-image: url(../img/img/etc_tv.png);}
.img_item.etc.computer{width:9.8rem; height:5.152rem; background-image: url(../img/img/etc_computer.png);}

.img_item.etc.kb{width:3rem; height:3rem; background-image: url(../img/img/etc_kb.png);}
.img_item.etc.delete{width:3.2rem; height:3.2rem; background-image: url(../img/img/etc_delete.png);}
.img_item.etc.profile{width:6rem; height:6rem; background-image: url(../img/img/etc_profile.png);}
.img_item.etc.check{width:6rem; height:6rem; background-image: url(../img/img/etc_check.png);}

.img_item.etc.give{width:4.8rem; height:4.8rem; background-image: url(../img/img/etc_give.png);}
.img_item.etc.take{width:4.8rem; height:4.8rem; background-image: url(../img/img/etc_take.png);}

.img_item.etc.star{width:3.6rem; height:3.6rem; border-radius:3.6rem; background-image: url(../img/img/etc_star.png); box-shadow:0 0.1rem 0.3rem 0.1rem rgba(13,72,127, 0.1);}
.img_item.etc.star_on{width:3.6rem; height:3.6rem; border-radius:3.6rem; background-image: url(../img/img/etc_star_on.png); box-shadow:0 0.1rem 0.3rem 0.1rem rgba(13,72,127, 0.1)}

.img_item.etc.usimcard1{width:36rem; height:23.6rem; background-image: url(../img/img/etc_usimcard1.png);}
.img_item.etc.usimcard2{width:36rem; height:23.6rem; background-image: url(../img/img/etc_usimcard2.png);}
.img_item.etc.usimcard3{width:36rem; height:23.6rem; background-image: url(../img/img/etc_usimcard3.png);}

.img_item.login.faceid{width:10rem; height:10rem; background-image: url(../img/img/login_faceid.png);}
.img_item.login.faceid_on{width:10rem; height:10rem; background-image: url(../img/img/login_faceid_on.png);}
.img_item.login.fp{width:10rem; height:10rem; background-image: url(../img/img/login_fp.png);}
.img_item.login.fp_on{width:10rem; height:10rem; background-image: url(../img/img/login_fp_on.png);}